<link rel="stylesheet" type="text/css" href="https://twxbr.innogamescdn.com/css/icons_dd0c808609.css">
<span class="icon-90x90-warlord"></span>
<span class="icon-90x90-slot-locked"></span>
<span class="icon-90x90-reward_coins_per_village"></span>
<span class="icon-90x90-reward_coins"></span>
<span class="icon-90x90-research-switch_weapons"></span>
<span class="icon-90x90-research-exchange"></span>
<span class="icon-90x90-research-dummies"></span>
<span class="icon-90x90-research-camouflage"></span>
<span class="icon-90x90-recruiter"></span>
<span class="icon-90x90-placeholder"></span>
<span class="icon-90x90-leader"></span>
<span class="icon-90x90-forum_admin"></span>
<span class="icon-90x90-diplomat"></span>
<span class="icon-90x90-defense"></span>
<span class="icon-90x90-coins"></span>
<span class="icon-90x90-arrow-down-green"></span>
<span class="icon-90x90-achivement-border"></span>
<span class="icon-70x70-tribe-invite"></span>
<span class="icon-70x70-research-war_planner"></span>
<span class="icon-70x70-research-veterinary"></span>
<span class="icon-70x70-research-training_ground"></span>
<span class="icon-70x70-research-trading"></span>
<span class="icon-70x70-research-trade_routes"></span>
<span class="icon-70x70-research-switch_weapons"></span>
<span class="icon-70x70-research-support_columns"></span>
<span class="icon-70x70-research-structural_improvement"></span>
<span class="icon-70x70-research-sergeant"></span>
<span class="icon-70x70-research-placeholder"></span>
<span class="icon-70x70-research-military_academy"></span>
<span class="icon-70x70-research-lieutenant"></span>
<span class="icon-70x70-research-large_ground"></span>
<span class="icon-70x70-research-homeguard"></span>
<span class="icon-70x70-research-fortified_walls"></span>
<span class="icon-70x70-research-fortified_roof"></span>
<span class="icon-70x70-research-forced_march"></span>
<span class="icon-70x70-research-faithful_paladin"></span>
<span class="icon-70x70-research-exchange"></span>
<span class="icon-70x70-research-efficiency"></span>
<span class="icon-70x70-research-dummies"></span>
<span class="icon-70x70-research-destruction"></span>
<span class="icon-70x70-research-delivery"></span>
<span class="icon-70x70-research-cellar"></span>
<span class="icon-70x70-research-cart"></span>
<span class="icon-70x70-research-captain"></span>
<span class="icon-70x70-research-camouflage"></span>
<span class="icon-70x70-research-bunker"></span>
<span class="icon-70x70-research-battlement"></span>
<span class="icon-70x70-research-attic"></span>
<span class="icon-70x70-research-arrow_loop"></span>
<span class="icon-70x70-quest-indicator"></span>
<span class="icon-70x70-quest-indicator:hover"></span>
<span class="icon-70x70-premium_officer_loot_master"></span>
<span class="icon-65x65-new_item_batch"></span>
<span class="icon-60x60-view-village"></span>
<span class="icon-60x60-view-village:hover:active"></span>
<span class="icon-60x60-units"></span>
<span class="icon-60x60-units:hover:active"></span>
<span class="icon-60x60-units:hover"></span>
<span class="icon-60x60-units-groups"></span>
<span class="icon-60x60-units-checkbox"></span>
<span class="icon-60x60-unit-spy-dead"></span>
<span class="icon-60x60-tribe"></span>
<span class="icon-60x60-tribe:hover:active"></span>
<span class="icon-60x60-tribe-level-banner-wood"></span>
<span class="icon-60x60-tribe-level-banner-silver"></span>
<span class="icon-60x60-tribe-level-banner-gold"></span>
<span class="icon-60x60-tribe:hover"></span>
<span class="icon-60x60-tribe-forum"></span>
<span class="icon-60x60-tribe-forum:hover:active"></span>
<span class="icon-60x60-tribe-forum:hover"></span>
<span class="icon-60x60-tab-wars"></span>
<span class="icon-60x60-tab-tribe-profile"></span>
<span class="icon-60x60-tab-skills"></span>
<span class="icon-60x60-tab-settings"></span>
<span class="icon-60x60-tab-quests"></span>
<span class="icon-60x60-tab-noble"></span>
<span class="icon-60x60-tab-news"></span>
<span class="icon-60x60-tab-memberlist"></span>
<span class="icon-60x60-tab-forum"></span>
<span class="icon-60x60-tab-diplomacy"></span>
<span class="icon-60x60-slot-locked"></span>
<span class="icon-60x60-shop:hover:active"></span>
<span class="icon-60x60-shop:hover"></span>
<span class="icon-60x60-settings"></span>
<span class="icon-60x60-settings:hover:active"></span>
<span class="icon-60x60-settings:hover"></span>
<span class="icon-60x60-reports"></span>
<span class="icon-60x60-reports:hover:active"></span>
<span class="icon-60x60-reports:hover"></span>
<span class="icon-60x60-overview"></span>
<span class="icon-60x60-overview:hover:active"></span>
<span class="icon-60x60-overview:hover"></span>
<span class="icon-60x60-message"></span>
<span class="icon-60x60-message:hover:active"></span>
<span class="icon-60x60-message:hover"></span>
<span class="icon-60x60-invite-player"></span>
<span class="icon-60x60-inventory"></span>
<span class="icon-60x60-inventory:hover:active"></span>
<span class="icon-60x60-inventory:hover"></span>
<span class="icon-60x60-double-arrow-right"></span>
<span class="icon-60x60-double-arrow-left"></span>
<span class="icon-60x60-cancel"></span>
<span class="icon-60x60-achievements"></span>
<span class="icon-60x60-achievements:hover:active"></span>
<span class="icon-60x60-achievements-points"></span>
<span class="icon-60x60-achievements:hover"></span>
<span class="icon-60x60-achievement-points"></span>
<span class="icon-44x44-village-info"></span>
<span class="icon-44x44-village-info-alarm"></span>
<span class="icon-44x44-view-worldmap"></span>
<span class="icon-44x44-view-village"></span>
<span class="icon-44x44-view-map"></span>
<span class="icon-44x44-upgrade-premium"></span>
<span class="icon-44x44-upgrade-premium-disabled"></span>
<span class="icon-44x44-tribe"></span>
<span class="icon-44x44-task-check"></span>
<span class="icon-44x44-special"></span>
<span class="icon-44x44-slot-premium-locked"></span>
<span class="icon-44x44-slot-locked"></span>
<span class="icon-44x44-shop-sale-tab"></span>
<span class="icon-44x44-shop-officer-tab"></span>
<span class="icon-44x44-shop-misc-tab"></span>
<span class="icon-44x44-settings-support"></span>
<span class="icon-44x44-settings-mobile"></span>
<span class="icon-44x44-settings-game"></span>
<span class="icon-44x44-settings-coop"></span>
<span class="icon-44x44-settings-account"></span>
<span class="icon-44x44-send-message"></span>
<span class="icon-44x44-scout-units"></span>
<span class="icon-44x44-scout-sabotage"></span>
<span class="icon-44x44-scout-building"></span>
<span class="icon-44x44-ruler"></span>
<span class="icon-44x44-rte-small"></span>
<span class="icon-44x44-rte-medium"></span>
<span class="icon-44x44-rte-large"></span>
<span class="icon-44x44-rte-XL"></span>
<span class="icon-44x44-reward_coins_per_village"></span>
<span class="icon-44x44-reward_coins"></span>
<span class="icon-44x44-resource-premium"></span>
<span class="icon-44x44-repeatable"></span>
<span class="icon-44x44-radio"></span>
<span class="icon-44x44-radio-checked"></span>
<span class="icon-44x44-quest"></span>
<span class="icon-44x44-premium_officer_supporter"></span>
<span class="icon-44x44-premium_officer_scout"></span>
<span class="icon-44x44-premium_officer_medic"></span>
<span class="icon-44x44-premium_officer_loot_master"></span>
<span class="icon-44x44-premium_officer_leader"></span>
<span class="icon-44x44-premium_officer_bastard"></span>
<span class="icon-44x44-premium_boost_wood"></span>
<span class="icon-44x44-premium_boost_iron"></span>
<span class="icon-44x44-premium_boost_clay"></span>
<span class="icon-44x44-premium-instant-transport"></span>
<span class="icon-44x44-points"></span>
<span class="icon-44x44-placeholder"></span>
<span class="icon-44x44-overview"></span>
<span class="icon-44x44-milestone"></span>
<span class="icon-44x44-mass-recruiting"></span>
<span class="icon-44x44-mass-building"></span>
<span class="icon-44x44-kick-member"></span>
<span class="icon-44x44-instant-recruit"></span>
<span class="icon-44x44-info-bubble"></span>
<span class="icon-44x44-global-info"></span>
<span class="icon-44x44-global-info-alarm"></span>
<span class="icon-44x44-friends"></span>
<span class="icon-44x44-email-confirmation"></span>
<span class="icon-44x44-edit-rights"></span>
<span class="icon-44x44-double-arrow"></span>
<span class="icon-44x44-custom-army-support-tab"></span>
<span class="icon-44x44-custom-army-relocate-tab"></span>
<span class="icon-44x44-custom-army-attack-tab"></span>
<span class="icon-44x44-crown-ranking"></span>
<span class="icon-44x44-chat"></span>
<span class="icon-44x44-change-founder"></span>
<span class="icon-44x44-build-mode"></span>
<span class="icon-44x44-battle"></span>
<span class="icon-44x44-achievement-point-shield"></span>
<span class="icon-34x34-zoom-out"></span>
<span class="icon-34x34-zoom-in"></span>
<span class="icon-34x34-weight"></span>
<span class="icon-34x34-war_ended"></span>
<span class="icon-34x34-war_declared"></span>
<span class="icon-34x34-village_lost"></span>
<span class="icon-34x34-village_conquered"></span>
<span class="icon-34x34-village"></span>
<span class="icon-34x34-village-info"></span>
<span class="icon-34x34-unread-report"></span>
<span class="icon-34x34-units"></span>
<span class="icon-34x34-units-way"></span>
<span class="icon-34x34-units-some-back"></span>
<span class="icon-34x34-units-return"></span>
<span class="icon-34x34-units-own"></span>
<span class="icon-34x34-units-outgoing"></span>
<span class="icon-34x34-units-out"></span>
<span class="icon-34x34-units-all"></span>
<span class="icon-34x34-units-all-back"></span>
<span class="icon-34x34-unit-status-filter-own"></span>
<span class="icon-34x34-unit-status-filter-inside"></span>
<span class="icon-34x34-unit-status-filter-available"></span>
<span class="icon-34x34-unit-info"></span>
<span class="icon-34x34-unit-info-button"></span>
<span class="icon-34x34-underlined"></span>
<span class="icon-34x34-trusted-member"></span>
<span class="icon-34x34-tribe"></span>
<span class="icon-34x34-tribe-skills"></span>
<span class="icon-34x34-tribe-power"></span>
<span class="icon-34x34-tribe-points"></span>
<span class="icon-34x34-tribe-level"></span>
<span class="icon-34x34-tribe-join"></span>
<span class="icon-34x34-tribe-info"></span>
<span class="icon-34x34-tribe-honor-points"></span>
<span class="icon-34x34-trash"></span>
<span class="icon-34x34-trade"></span>
<span class="icon-34x34-title"></span>
<span class="icon-34x34-time"></span>
<span class="icon-34x34-time-remaining"></span>
<span class="icon-34x34-time-per-tile"></span>
<span class="icon-34x34-time-completed"></span>
<span class="icon-34x34-system"></span>
<span class="icon-34x34-switch"></span>
<span class="icon-34x34-support"></span>
<span class="icon-34x34-support-check"></span>
<span class="icon-34x34-status"></span>
<span class="icon-34x34-star"></span>
<span class="icon-34x34-star-slot"></span>
<span class="icon-34x34-spy"></span>
<span class="icon-34x34-spies"></span>
<span class="icon-34x34-small-arrow-up"></span>
<span class="icon-34x34-select-village"></span>
<span class="icon-34x34-search"></span>
<span class="icon-34x34-scroll-info"></span>
<span class="icon-34x34-right-wars"></span>
<span class="icon-34x34-right-settings"></span>
<span class="icon-34x34-right-recruit"></span>
<span class="icon-34x34-right-quests"></span>
<span class="icon-34x34-right-profile"></span>
<span class="icon-34x34-right-noble_planner"></span>
<span class="icon-34x34-right-news"></span>
<span class="icon-34x34-right-members"></span>
<span class="icon-34x34-right-forum"></span>
<span class="icon-34x34-right-diplomacy"></span>
<span class="icon-34x34-reward_coins_per_village"></span>
<span class="icon-34x34-reward_coins"></span>
<span class="icon-34x34-result"></span>
<span class="icon-34x34-resources"></span>
<span class="icon-34x34-resource-wood"></span>
<span class="icon-34x34-resource-iron"></span>
<span class="icon-34x34-resource-food"></span>
<span class="icon-34x34-resource-clay"></span>
<span class="icon-34x34-reset"></span>
<span class="icon-34x34-reset-errands"></span>
<span class="icon-34x34-research-war_planner"></span>
<span class="icon-34x34-research-veterinary"></span>
<span class="icon-34x34-research-training_ground"></span>
<span class="icon-34x34-research-trading"></span>
<span class="icon-34x34-research-trade_routes"></span>
<span class="icon-34x34-research-switch_weapons"></span>
<span class="icon-34x34-research-support_columns"></span>
<span class="icon-34x34-research-structural_improvement"></span>
<span class="icon-34x34-research-placeholder"></span>
<span class="icon-34x34-research-military_academy"></span>
<span class="icon-34x34-research-large_ground"></span>
<span class="icon-34x34-research-fortified_walls"></span>
<span class="icon-34x34-research-fortified_roof"></span>
<span class="icon-34x34-research-forced_march"></span>
<span class="icon-34x34-research-faithful_paladin"></span>
<span class="icon-34x34-research-exchange"></span>
<span class="icon-34x34-research-efficiency"></span>
<span class="icon-34x34-research-dummies"></span>
<span class="icon-34x34-research-destruction"></span>
<span class="icon-34x34-research-delivery"></span>
<span class="icon-34x34-research-cellar"></span>
<span class="icon-34x34-research-cart"></span>
<span class="icon-34x34-research-camouflage"></span>
<span class="icon-34x34-research-bunker"></span>
<span class="icon-34x34-research-battlement"></span>
<span class="icon-34x34-research-attic"></span>
<span class="icon-34x34-research-arrow_loop"></span>
<span class="icon-34x34-report-small"></span>
<span class="icon-34x34-relocate"></span>
<span class="icon-34x34-relocate-check"></span>
<span class="icon-34x34-recruit-jobs"></span>
<span class="icon-34x34-raven"></span>
<span class="icon-34x34-rank"></span>
<span class="icon-34x34-rank-tribe"></span>
<span class="icon-34x34-rank-silver"></span>
<span class="icon-34x34-rank-gold"></span>
<span class="icon-34x34-rank-character"></span>
<span class="icon-34x34-rank-bronze"></span>
<span class="icon-34x34-province"></span>
<span class="icon-34x34-production"></span>
<span class="icon-34x34-production-premium"></span>
<span class="icon-34x34-preset"></span>
<span class="icon-34x34-premium"></span>
<span class="icon-34x34-premium-report"></span>
<span class="icon-34x34-premium-instant-transport"></span>
<span class="icon-34x34-premium-buff-provitions"></span>
<span class="icon-34x34-preceptory"></span>
<span class="icon-34x34-preceptory-orders"></span>
<span class="icon-34x34-points"></span>
<span class="icon-34x34-points-per-village"></span>
<span class="icon-34x34-points-per-member"></span>
<span class="icon-34x34-points-best"></span>
<span class="icon-34x34-points-average"></span>
<span class="icon-34x34-podium"></span>
<span class="icon-34x34-plus"></span>
<span class="icon-34x34-player"></span>
<span class="icon-34x34-placeholder"></span>
<span class="icon-34x34-pinned"></span>
<span class="icon-34x34-paladin"></span>
<span class="icon-34x34-outgoing"></span>
<span class="icon-34x34-order-thieves"></span>
<span class="icon-34x34-order-thiefs"></span>
<span class="icon-34x34-order-teutonic_knights"></span>
<span class="icon-34x34-order-knight_templars"></span>
<span class="icon-34x34-officers"></span>
<span class="icon-34x34-offensive-bashpoints"></span>
<span class="icon-34x34-noob-protection"></span>
<span class="icon-34x34-no-casualties"></span>
<span class="icon-34x34-night-mode"></span>
<span class="icon-34x34-name_changed"></span>
<span class="icon-34x34-moral"></span>
<span class="icon-34x34-misc"></span>
<span class="icon-34x34-message"></span>
<span class="icon-34x34-message-unread"></span>
<span class="icon-34x34-message-read"></span>
<span class="icon-34x34-message-amount"></span>
<span class="icon-34x34-merchants"></span>
<span class="icon-34x34-members"></span>
<span class="icon-34x34-member_left"></span>
<span class="icon-34x34-member_kicked"></span>
<span class="icon-34x34-member_joined"></span>
<span class="icon-34x34-loyalty"></span>
<span class="icon-34x34-lock-small"></span>
<span class="icon-34x34-level"></span>
<span class="icon-34x34-kingdom"></span>
<span class="icon-34x34-jump-to"></span>
<span class="icon-34x34-item-sword"></span>
<span class="icon-34x34-item-spear"></span>
<span class="icon-34x34-item-snob"></span>
<span class="icon-34x34-item-ram"></span>
<span class="icon-34x34-item-mounted_archer"></span>
<span class="icon-34x34-item-light_cavalry"></span>
<span class="icon-34x34-item-heavy_cavalry"></span>
<span class="icon-34x34-item-catapult"></span>
<span class="icon-34x34-item-axe"></span>
<span class="icon-34x34-item-archer"></span>
<span class="icon-34x34-italic"></span>
<span class="icon-34x34-instant-recruit"></span>
<span class="icon-34x34-info"></span>
<span class="icon-34x34-incoming"></span>
<span class="icon-34x34-honor-points"></span>
<span class="icon-34x34-groups"></span>
<span class="icon-34x34-group"></span>
<span class="icon-34x34-group-icons"></span>
<span class="icon-34x34-general"></span>
<span class="icon-34x34-founder"></span>
<span class="icon-34x34-forum-unread"></span>
<span class="icon-34x34-forum-read"></span>
<span class="icon-34x34-filter-dynamic"></span>
<span class="icon-34x34-favourite"></span>
<span class="icon-34x34-exclemation-mark"></span>
<span class="icon-34x34-edit"></span>
<span class="icon-34x34-dice"></span>
<span class="icon-34x34-details"></span>
<span class="icon-34x34-defensive-bashpoints"></span>
<span class="icon-34x34-defense"></span>
<span class="icon-34x34-defense-cavalry"></span>
<span class="icon-34x34-defense-archer"></span>
<span class="icon-34x34-defeated"></span>
<span class="icon-34x34-defeat"></span>
<span class="icon-34x34-daily-unit-reset"></span>
<span class="icon-34x34-crown"></span>
<span class="icon-34x34-crown-ranking"></span>
<span class="icon-34x34-counter-measures"></span>
<span class="icon-34x34-copy"></span>
<span class="icon-34x34-commands"></span>
<span class="icon-34x34-command"></span>
<span class="icon-34x34-clover"></span>
<span class="icon-34x34-church"></span>
<span class="icon-34x34-check-positive"></span>
<span class="icon-34x34-check-negative"></span>
<span class="icon-34x34-character"></span>
<span class="icon-34x34-character-info"></span>
<span class="icon-34x34-char-system"></span>
<span class="icon-34x34-casualties"></span>
<span class="icon-34x34-capacity"></span>
<span class="icon-34x34-capacity-premium"></span>
<span class="icon-34x34-build-jobs"></span>
<span class="icon-34x34-boosts"></span>
<span class="icon-34x34-bonus-wood"></span>
<span class="icon-34x34-bonus-iron"></span>
<span class="icon-34x34-bonus-food"></span>
<span class="icon-34x34-bonus-clay"></span>
<span class="icon-34x34-bold"></span>
<span class="icon-34x34-battle"></span>
<span class="icon-34x34-bashpoints"></span>
<span class="icon-34x34-bashpoints-offensive"></span>
<span class="icon-34x34-bashpoints-defensive"></span>
<span class="icon-34x34-attack"></span>
<span class="icon-34x34-attack-red"></span>
<span class="icon-34x34-attack-check"></span>
<span class="icon-34x34-arrow-up"></span>
<span class="icon-34x34-arrow-down"></span>
<span class="icon-34x34-amount-villages"></span>
<span class="icon-34x34-add-character"></span>
<span class="icon-34x34-achievements"></span>
<span class="icon-34x34-achievement-milestone"></span>
<span class="icon-34x34-UNUSED"></span>

<span class="icon-20x20-villages"></span>
<span class="icon-20x20-village"></span>
<span class="icon-20x20-url"></span>
<span class="icon-20x20-unread-report"></span>
<span class="icon-20x20-units-return"></span>
<span class="icon-20x20-units-own"></span>
<span class="icon-20x20-units-outgoing"></span>
<span class="icon-20x20-unit-status-own"></span>
<span class="icon-20x20-unit-status-inside"></span>
<span class="icon-20x20-unit-status-available"></span>
<span class="icon-20x20-tribe"></span>
<span class="icon-20x20-support"></span>
<span class="icon-20x20-support-check"></span>
<span class="icon-20x20-spoiler"></span>
<span class="icon-20x20-sort-desc"></span>
<span class="icon-20x20-sort-asc"></span>
<span class="icon-20x20-report"></span>
<span class="icon-20x20-report-town"></span>
<span class="icon-20x20-report-total"></span>
<span class="icon-20x20-report-revive"></span>
<span class="icon-20x20-report-losses"></span>
<span class="icon-20x20-report-away"></span>
<span class="icon-20x20-report-amount"></span>
<span class="icon-20x20-relocate"></span>
<span class="icon-20x20-recruit-queue"></span>
<span class="icon-20x20-rank-up"></span>
<span class="icon-20x20-rank-down"></span>
<span class="icon-20x20-queue-indicator-short"></span>
<span class="icon-20x20-queue-indicator-medium"></span>
<span class="icon-20x20-queue-indicator-long"></span>
<span class="icon-20x20-premium"></span>
<span class="icon-20x20-placeholder"></span>
<span class="icon-20x20-minus"></span>
<span class="icon-20x20-message-forward"></span>
<span class="icon-20x20-forum-unit-trebuchet"></span>
<span class="icon-20x20-forum-unit-sword"></span>
<span class="icon-20x20-forum-unit-spy"></span>
<span class="icon-20x20-forum-unit-spear"></span>
<span class="icon-20x20-forum-unit-snob"></span>
<span class="icon-20x20-forum-unit-ram"></span>
<span class="icon-20x20-forum-unit-mounted_archer"></span>
<span class="icon-20x20-forum-unit-light_cavalry"></span>
<span class="icon-20x20-forum-unit-knight"></span>
<span class="icon-20x20-forum-unit-heavy_cavalry"></span>
<span class="icon-20x20-forum-unit-doppelsoldner"></span>
<span class="icon-20x20-forum-unit-catapult"></span>
<span class="icon-20x20-forum-unit-axe"></span>
<span class="icon-20x20-forum-unit-archer"></span>
<span class="icon-20x20-favourite"></span>
<span class="icon-20x20-edit"></span>
<span class="icon-20x20-construct"></span>
<span class="icon-20x20-close"></span>
<span class="icon-20x20-check-negative"></span>
<span class="icon-20x20-character"></span>
<span class="icon-20x20-capacity"></span>
<span class="icon-20x20-build-queue"></span>
<span class="icon-20x20-attack"></span>
<span class="icon-20x20-attack-check"></span>
<span class="icon-20x20-arrow-right"></span>
<span class="icon-20x20-arrow-down"></span>
<span class="icon-130x130-wood"></span>
<span class="icon-130x130-iron"></span>
<span class="icon-130x130-clay"></span>
<span class="icon-120x120-slot-locked"></span>
<span class="icon-120x120-reward_coins_per_village"></span>
<span class="icon-120x120-reward_coins"></span>
<span class="icon-120x120-arrow-down"></span>
<span class="icon-120x120-arrow-down-green"></span>
<span class="icon-90x90-wheel_spin"></span>
<span class="icon-90x90-sword"></span>
<span class="icon-90x90-spear"></span>
<span class="icon-90x90-second_village_girl"></span>
<span class="icon-90x90-reward"></span>
<span class="icon-90x90-resources"></span>
<span class="icon-90x90-resources-gold"></span>
<span class="icon-90x90-resource_manager"></span>
<span class="icon-90x90-resource_deposit_reroll"></span>
<span class="icon-90x90-reroll"></span>
<span class="icon-90x90-premium_village_relocate_random"></span>
<span class="icon-90x90-premium_village_relocate_chosen"></span>
<span class="icon-90x90-premium_village_manager"></span>
<span class="icon-90x90-premium_trade"></span>
<span class="icon-90x90-premium_second_queue_job"></span>
<span class="icon-90x90-premium_research"></span>
<span class="icon-90x90-premium_paladin_instant_item"></span>
<span class="icon-90x90-premium_officer_supporter"></span>
<span class="icon-90x90-premium_officer_scout"></span>
<span class="icon-90x90-premium_officer_medic"></span>
<span class="icon-90x90-premium_officer_loot_master"></span>
<span class="icon-90x90-premium_officer_leader"></span>
<span class="icon-90x90-premium_officer_bastard"></span>
<span class="icon-90x90-premium_noob_protection"></span>
<span class="icon-90x90-premium_loot_protection"></span>
<span class="icon-90x90-premium_instant_build"></span>
<span class="icon-90x90-premium_domination"></span>
<span class="icon-90x90-premium_build_queue_slot"></span>
<span class="icon-90x90-premium_build_cost_reduction"></span>
<span class="icon-90x90-premium_boost_wood"></span>
<span class="icon-90x90-premium_boost_iron"></span>
<span class="icon-90x90-premium_boost_clay"></span>
<span class="icon-90x90-military_advisor"></span>
<span class="icon-90x90-light-cavalry"></span>
<span class="icon-90x90-item-sword"></span>
<span class="icon-90x90-item-spear"></span>
<span class="icon-90x90-item-snob"></span>
<span class="icon-90x90-item-ram"></span>
<span class="icon-90x90-item-mounted_archer"></span>
<span class="icon-90x90-item-light_cavalry"></span>
<span class="icon-90x90-item-heavy_cavalry"></span>
<span class="icon-90x90-item-catapult"></span>
<span class="icon-90x90-item-axe"></span>
<span class="icon-90x90-item-archer"></span>
<span class="icon-90x90-info"></span>
<span class="icon-90x90-food_capacity_increase"></span>
<span class="icon-90x90-daily_unit_reroll"></span>
<span class="icon-90x90-daily_unit"></span>
<span class="icon-90x90-check"></span>
<span class="icon-90x90-char-b"></span>
<span class="icon-90x90-axe"></span>
<span class="icon-90x90-architectural_designer"></span>
<span class="icon-90x90-archer"></span>
<span class="icon-90x90-agricultural_leader"></span>
<span class="icon-90x90-Wiederauferstehung"></span>
<span class="icon-90x90-TutorialFinisher"></span>
<span class="icon-90x90-TreueFreunde"></span>
<span class="icon-90x90-QuestInventor"></span>
<span class="icon-90x90-Punktekoenige2"></span>
<span class="icon-90x90-PaladinsPower"></span>
<span class="icon-90x90-MeisterDerDiebe"></span>
<span class="icon-90x90-MasterOfQuesting"></span>
<span class="icon-90x90-Loyalmember"></span>
<span class="icon-90x90-Kontinentscorer"></span>
<span class="icon-90x90-KingOfTheWorld"></span>
<span class="icon-90x90-Forumstroll"></span>
<span class="icon-90x90-ErfolgreichesWerben"></span>
<span class="icon-90x90-Dynastie"></span>
<span class="icon-90x90-BetaTestPericipant"></span>
<span class="icon-90x90-Amtsinhaber"></span>
<span class="icon-90x90-Amtsdynastie"></span>
<span class="icon-90x90-Aemterhaeufung"></span>
<span class="icon-90x90-ACTIVEATTACKER"></span>
<span class="icon-70x70-trade70"></span>
<span class="icon-70x70-second_village_girl"></span>
<span class="icon-70x70-resource_manager"></span>
<span class="icon-70x70-report-premium"></span>
<span class="icon-70x70-military_advisor"></span>
<span class="icon-70x70-architectural_designer"></span>
<span class="icon-70x70-agricultural_leader"></span>
<span class="icon-60x60-unit-spy-5"></span>
<span class="icon-60x60-unit-spy-4"></span>
<span class="icon-60x60-unit-spy-3"></span>
<span class="icon-60x60-unit-spy-2"></span>
<span class="icon-60x60-unit-spy-1"></span>
<span class="icon-60x60-storage_capacity_increase"></span>
<span class="icon-60x60-resource_production_increase"></span>
<span class="icon-60x60-milestone_food_small_boost"></span>
<span class="icon-60x60-bountiful_season"></span>
<span class="icon-60x60-boost-wood"></span>
<span class="icon-60x60-boost-iron"></span>
<span class="icon-60x60-boost-clay"></span>
<span class="icon-44x44-unit-trebuchet"></span>
<span class="icon-44x44-unit-sword"></span>
<span class="icon-44x44-unit-spy"></span>
<span class="icon-44x44-unit-spear"></span>
<span class="icon-44x44-unit-snob"></span>
<span class="icon-44x44-unit-ram"></span>
<span class="icon-44x44-unit-mounted_archer"></span>
<span class="icon-44x44-unit-light_cavalry"></span>
<span class="icon-44x44-unit-knight"></span>
<span class="icon-44x44-unit-heavy_cavalry"></span>
<span class="icon-44x44-unit-doppelsoldner"></span>
<span class="icon-44x44-unit-catapult"></span>
<span class="icon-44x44-unit-axe"></span>
<span class="icon-44x44-unit-archer"></span>
<span class="icon-44x44-tactician"></span>
<span class="icon-44x44-spy"></span>
<span class="icon-44x44-second_village_girl"></span>
<span class="icon-44x44-resources"></span>
<span class="icon-44x44-resource_manager"></span>
<span class="icon-44x44-resource_deposit_reroll"></span>
<span class="icon-44x44-reroll"></span>
<span class="icon-44x44-quest-your_order"></span>
<span class="icon-44x44-quest-welcome"></span>
<span class="icon-44x44-quest-unit_details_siege"></span>
<span class="icon-44x44-quest-unit_details_off"></span>
<span class="icon-44x44-quest-unit_details"></span>
<span class="icon-44x44-quest-unfinished"></span>
<span class="icon-44x44-quest-tons_of_resources"></span>
<span class="icon-44x44-quest-the_hospital"></span>
<span class="icon-44x44-quest-the_hero"></span>
<span class="icon-44x44-quest-step_to_step"></span>
<span class="icon-44x44-quest-step_step"></span>
<span class="icon-44x44-quest-step_by_step"></span>
<span class="icon-44x44-quest-spionage"></span>
<span class="icon-44x44-quest-some_barracks"></span>
<span class="icon-44x44-quest-small_step_between"></span>
<span class="icon-44x44-quest-second_town"></span>
<span class="icon-44x44-quest-second_steps"></span>
<span class="icon-44x44-quest-resource_types"></span>
<span class="icon-44x44-quest-ready-to-finish"></span>
<span class="icon-44x44-quest-plan_preset"></span>
<span class="icon-44x44-quest-much_more_military"></span>
<span class="icon-44x44-quest-more_resources"></span>
<span class="icon-44x44-quest-more_military"></span>
<span class="icon-44x44-quest-military"></span>
<span class="icon-44x44-quest-master_of_units"></span>
<span class="icon-44x44-quest-master_of_buildings"></span>
<span class="icon-44x44-quest-market_barker"></span>
<span class="icon-44x44-quest-generals"></span>
<span class="icon-44x44-quest-first_tribe"></span>
<span class="icon-44x44-quest-first_steps"></span>
<span class="icon-44x44-quest-finished"></span>
<span class="icon-44x44-quest-end_noob_protection"></span>
<span class="icon-44x44-quest-default"></span>
<span class="icon-44x44-quest-capitol"></span>
<span class="icon-44x44-quest-blue_blood"></span>
<span class="icon-44x44-quest-belief"></span>
<span class="icon-44x44-premium_build_cost_reduction"></span>
<span class="icon-44x44-paladin"></span>
<span class="icon-44x44-nobleman"></span>
<span class="icon-44x44-military_advisor"></span>
<span class="icon-44x44-info"></span>
<span class="icon-44x44-help"></span>
<span class="icon-44x44-food_capacity_increase"></span>
<span class="icon-44x44-event-wheel"></span>
<span class="icon-44x44-error"></span>
<span class="icon-44x44-default"></span>
<span class="icon-44x44-default-tribe-crest"></span>
<span class="icon-44x44-check"></span>
<span class="icon-44x44-building-warehouse"></span>
<span class="icon-44x44-building-wall"></span>
<span class="icon-44x44-building-timber_camp"></span>
<span class="icon-44x44-building-tavern"></span>
<span class="icon-44x44-building-statue"></span>
<span class="icon-44x44-building-rally_point"></span>
<span class="icon-44x44-building-preceptory"></span>
<span class="icon-44x44-building-market"></span>
<span class="icon-44x44-building-iron_mine"></span>
<span class="icon-44x44-building-hospital"></span>
<span class="icon-44x44-building-headquarter"></span>
<span class="icon-44x44-building-fortress"></span>
<span class="icon-44x44-building-farm"></span>
<span class="icon-44x44-building-clay_pit"></span>
<span class="icon-44x44-building-church"></span>
<span class="icon-44x44-building-chapel"></span>
<span class="icon-44x44-building-barracks"></span>
<span class="icon-44x44-building-academy"></span>
<span class="icon-44x44-attention"></span>
<span class="icon-44x44-architectural_designer"></span>
<span class="icon-44x44-agricultural_leader"></span>
<span class="icon-34x34-vault_medium"></span>
<span class="icon-34x34-unit-trebuchet"></span>
<span class="icon-34x34-unit-sword"></span>
<span class="icon-34x34-unit-spy"></span>
<span class="icon-34x34-unit-special-ability-trebuchet"></span>
<span class="icon-34x34-unit-special-ability-snob"></span>
<span class="icon-34x34-unit-special-ability-ram"></span>
<span class="icon-34x34-unit-special-ability-doppelsoldner"></span>
<span class="icon-34x34-unit-special-ability-catapult"></span>
<span class="icon-34x34-unit-spear"></span>
<span class="icon-34x34-unit-snob"></span>
<span class="icon-34x34-unit-ram"></span>
<span class="icon-34x34-unit-mounted_archer"></span>
<span class="icon-34x34-unit-light_cavalry"></span>
<span class="icon-34x34-unit-knight"></span>
<span class="icon-34x34-unit-heavy_cavalry"></span>
<span class="icon-34x34-unit-doppelsoldner"></span>
<span class="icon-34x34-unit-catapult"></span>
<span class="icon-34x34-unit-axe"></span>
<span class="icon-34x34-unit-archer"></span>
<span class="icon-34x34-the_first_army"></span>
<span class="icon-34x34-the_basic_buildings"></span>
<span class="icon-34x34-snob"></span>
<span class="icon-34x34-skill-supporter"></span>
<span class="icon-34x34-skill-shared_crowns"></span>
<span class="icon-34x34-skill-resource-deposit-time-reduction"></span>
<span class="icon-34x34-skill-resource-deposit-increase"></span>
<span class="icon-34x34-skill-recruit_speed_bonus"></span>
<span class="icon-34x34-skill-raid_speed"></span>
<span class="icon-34x34-skill-member_limit"></span>
<span class="icon-34x34-skill-medic"></span>
<span class="icon-34x34-skill-loot_bonus"></span>
<span class="icon-34x34-skill-iron_walls"></span>
<span class="icon-34x34-skill-better_spy_defense"></span>
<span class="icon-34x34-skill-better_hospital"></span>
<span class="icon-34x34-skill-attack_bonus"></span>
<span class="icon-34x34-resource_deposit_reroll"></span>
<span class="icon-34x34-resource_boost_stockpile"></span>
<span class="icon-34x34-quest-your_order"></span>
<span class="icon-34x34-quest-welcome"></span>
<span class="icon-34x34-quest-unit_details_siege"></span>
<span class="icon-34x34-quest-unit_details_off"></span>
<span class="icon-34x34-quest-unit_details"></span>
<span class="icon-34x34-quest-tons_of_resources"></span>
<span class="icon-34x34-quest-the_hospital"></span>
<span class="icon-34x34-quest-the_hero"></span>
<span class="icon-34x34-quest-step_to_step"></span>
<span class="icon-34x34-quest-step_step"></span>
<span class="icon-34x34-quest-step_by_step"></span>
<span class="icon-34x34-quest-spionage"></span>
<span class="icon-34x34-quest-some_barracks"></span>
<span class="icon-34x34-quest-small_step_between"></span>
<span class="icon-34x34-quest-second_town"></span>
<span class="icon-34x34-quest-second_steps"></span>
<span class="icon-34x34-quest-resource_types"></span>
<span class="icon-34x34-quest-plan_preset"></span>
<span class="icon-34x34-quest-much_more_military"></span>
<span class="icon-34x34-quest-more_resources"></span>
<span class="icon-34x34-quest-more_military"></span>
<span class="icon-34x34-quest-military"></span>
<span class="icon-34x34-quest-master_of_units"></span>
<span class="icon-34x34-quest-master_of_buildings"></span>
<span class="icon-34x34-quest-market_barker"></span>
<span class="icon-34x34-quest-generals"></span>
<span class="icon-34x34-quest-first_tribe"></span>
<span class="icon-34x34-quest-first_steps"></span>
<span class="icon-34x34-quest-end_noob_protection"></span>
<span class="icon-34x34-quest-default"></span>
<span class="icon-34x34-quest-capitol"></span>
<span class="icon-34x34-quest-blue_blood"></span>
<span class="icon-34x34-quest-belief"></span>
<span class="icon-34x34-premium_village_relocate_random"></span>
<span class="icon-34x34-premium_village_relocate_chosen"></span>
<span class="icon-34x34-premium_village_manager"></span>
<span class="icon-34x34-premium_trade"></span>
<span class="icon-34x34-premium_second_queue_job"></span>
<span class="icon-34x34-premium_research"></span>
<span class="icon-34x34-premium_paladin_instant_item"></span>
<span class="icon-34x34-premium_officer_supporter"></span>
<span class="icon-34x34-premium_officer_scout"></span>
<span class="icon-34x34-premium_officer_medic"></span>
<span class="icon-34x34-premium_officer_loot_master"></span>
<span class="icon-34x34-premium_officer_leader"></span>
<span class="icon-34x34-premium_officer_bastard"></span>
<span class="icon-34x34-premium_noob_protection"></span>
<span class="icon-34x34-premium_loot_protection"></span>
<span class="icon-34x34-premium_instant_build"></span>
<span class="icon-34x34-premium_domination"></span>
<span class="icon-34x34-premium_build_queue_slot"></span>
<span class="icon-34x34-premium_build_cost_reduction"></span>
<span class="icon-34x34-premium_boost_wood"></span>
<span class="icon-34x34-premium_boost_iron"></span>
<span class="icon-34x34-premium_boost_clay"></span>
<span class="icon-34x34-premium-package-4"></span>
<span class="icon-34x34-premium-package-3"></span>
<span class="icon-34x34-premium-package-2"></span>
<span class="icon-34x34-premium-package-1"></span>
<span class="icon-34x34-premium-package-0"></span>
<span class="icon-34x34-paceholder-2"></span>
<span class="icon-34x34-paceholder-1"></span>
<span class="icon-34x34-officer-upgrade_barbarian_production"></span>
<span class="icon-34x34-officer-revive_attackers"></span>
<span class="icon-34x34-officer-escape_defeat"></span>
<span class="icon-34x34-officer-change_movement_speed"></span>
<span class="icon-34x34-officer-boost_carrying_capacity"></span>
<span class="icon-34x34-officer-boost_attacking_power"></span>
<span class="icon-34x34-milestone_food_small_boost"></span>
<span class="icon-34x34-get_more_of_everything"></span>
<span class="icon-34x34-default"></span>
<span class="icon-34x34-default-tribe-crest"></span>
<span class="icon-34x34-daily_unit_reroll"></span>
<span class="icon-34x34-daily_unit"></span>
<span class="icon-34x34-conquer_the_world"></span>
<span class="icon-34x34-building-warehouse"></span>
<span class="icon-34x34-building-wall"></span>
<span class="icon-34x34-building-timber_camp"></span>
<span class="icon-34x34-building-tavern"></span>
<span class="icon-34x34-building-statue"></span>
<span class="icon-34x34-building-rally_point"></span>
<span class="icon-34x34-building-preceptory"></span>
<span class="icon-34x34-building-market"></span>
<span class="icon-34x34-building-iron_mine"></span>
<span class="icon-34x34-building-hospital"></span>
<span class="icon-34x34-building-headquarter"></span>
<span class="icon-34x34-building-fortress"></span>
<span class="icon-34x34-building-farm"></span>
<span class="icon-34x34-building-clay_pit"></span>
<span class="icon-34x34-building-church"></span>
<span class="icon-34x34-building-chapel"></span>
<span class="icon-34x34-building-barracks"></span>
<span class="icon-34x34-building-academy"></span>
<span class="icon-34x34-bountiful_season"></span>
<span class="icon-34x34-barbarian-production-boost"></span>
<span class="icon-34x34-attention"></span>
<span class="icon-20x20-unit-trebuchet"></span>
<span class="icon-20x20-unit-sword"></span>
<span class="icon-20x20-unit-spy"></span>
<span class="icon-20x20-unit-spear"></span>
<span class="icon-20x20-unit-snob"></span>
<span class="icon-20x20-unit-ram"></span>
<span class="icon-20x20-unit-mounted_archer"></span>
<span class="icon-20x20-unit-light_cavalry"></span>
<span class="icon-20x20-unit-knight"></span>
<span class="icon-20x20-unit-heavy_cavalry"></span>
<span class="icon-20x20-unit-doppelsoldner"></span>
<span class="icon-20x20-unit-catapult"></span>
<span class="icon-20x20-unit-axe"></span>
<span class="icon-20x20-unit-archer"></span>
<span class="icon-20x20-building-warehouse"></span>
<span class="icon-20x20-building-wall"></span>
<span class="icon-20x20-building-timber_camp"></span>
<span class="icon-20x20-building-tavern"></span>
<span class="icon-20x20-building-statue"></span>
<span class="icon-20x20-building-rally_point"></span>
<span class="icon-20x20-building-preceptory"></span>
<span class="icon-20x20-building-market"></span>
<span class="icon-20x20-building-iron_mine"></span>
<span class="icon-20x20-building-hospital"></span>
<span class="icon-20x20-building-headquarter"></span>
<span class="icon-20x20-building-fortress"></span>
<span class="icon-20x20-building-farm"></span>
<span class="icon-20x20-building-clay_pit"></span>
<span class="icon-20x20-building-church"></span>
<span class="icon-20x20-building-chapel"></span>
<span class="icon-20x20-building-barracks"></span>
<span class="icon-20x20-building-academy"></span>
<span class="icon-203x218-statue"></span>
<span class="icon-203x218-order-thieves"></span>
<span class="icon-203x218-order-teutonic"></span>
<span class="icon-203x218-order-templar"></span>
<span class="icon-152x152-question"></span>
<span class="icon-152x152-premium-boost-wood"></span>
<span class="icon-152x152-premium-boost-iron"></span>
<span class="icon-152x152-premium-boost-clay"></span>
<span class="icon-152x152-domination-bg"></span>
<span class="icon-152x152-default-tribe-crest"></span>
<span class="icon-152x152-building-warehouse"></span>
<span class="icon-152x152-building-wall"></span>
<span class="icon-152x152-building-timber_camp"></span>
<span class="icon-152x152-building-tavern"></span>
<span class="icon-152x152-building-statue"></span>
<span class="icon-152x152-building-rally_point"></span>
<span class="icon-152x152-building-preceptory"></span>
<span class="icon-152x152-building-market"></span>
<span class="icon-152x152-building-iron_mine"></span>
<span class="icon-152x152-building-hospital"></span>
<span class="icon-152x152-building-headquarter"></span>
<span class="icon-152x152-building-fortress"></span>
<span class="icon-152x152-building-farm"></span>
<span class="icon-152x152-building-clay_pit"></span>
<span class="icon-152x152-building-church"></span>
<span class="icon-152x152-building-chapel"></span>
<span class="icon-152x152-building-barracks"></span>
<span class="icon-152x152-building-academy"></span>
<span class="icon-152x152-attention"></span>
<span class="icon-130x130-tactician"></span>
<span class="icon-130x130-spy"></span>
<span class="icon-130x130-second_village_girl"></span>
<span class="icon-130x130-resource_manager"></span>
<span class="icon-130x130-quest-your_order"></span>
<span class="icon-130x130-quest-welcome"></span>
<span class="icon-130x130-quest-unit_details_siege"></span>
<span class="icon-130x130-quest-unit_details_off"></span>
<span class="icon-130x130-quest-unit_details"></span>
<span class="icon-130x130-quest-tons_of_resources"></span>
<span class="icon-130x130-quest-the_hospital"></span>
<span class="icon-130x130-quest-the_hero"></span>
<span class="icon-130x130-quest-step_to_step"></span>
<span class="icon-130x130-quest-step_step"></span>
<span class="icon-130x130-quest-step_by_step"></span>
<span class="icon-130x130-quest-spionage"></span>
<span class="icon-130x130-quest-some_barracks"></span>
<span class="icon-130x130-quest-small_step_between"></span>
<span class="icon-130x130-quest-second_town"></span>
<span class="icon-130x130-quest-second_steps"></span>
<span class="icon-130x130-quest-resource_types"></span>
<span class="icon-130x130-quest-plan_preset"></span>
<span class="icon-130x130-quest-much_more_military"></span>
<span class="icon-130x130-quest-more_resources"></span>
<span class="icon-130x130-quest-more_military"></span>
<span class="icon-130x130-quest-military"></span>
<span class="icon-130x130-quest-master_of_units"></span>
<span class="icon-130x130-quest-master_of_buildings"></span>
<span class="icon-130x130-quest-market_barker"></span>
<span class="icon-130x130-quest-generals"></span>
<span class="icon-130x130-quest-first_tribe"></span>
<span class="icon-130x130-quest-first_steps"></span>
<span class="icon-130x130-quest-end_noob_protection"></span>
<span class="icon-130x130-quest-default"></span>
<span class="icon-130x130-quest-capitol"></span>
<span class="icon-130x130-quest-blue_blood"></span>
<span class="icon-130x130-quest-belief"></span>
<span class="icon-130x130-paladin"></span>
<span class="icon-130x130-nobleman"></span>
<span class="icon-130x130-military_advisor"></span>
<span class="icon-130x130-help"></span>
<span class="icon-130x130-default"></span>
<span class="icon-130x130-building-warehouse"></span>
<span class="icon-130x130-building-wall"></span>
<span class="icon-130x130-building-timber_camp"></span>
<span class="icon-130x130-building-tavern"></span>
<span class="icon-130x130-building-statue"></span>
<span class="icon-130x130-building-rally_point"></span>
<span class="icon-130x130-building-preceptory"></span>
<span class="icon-130x130-building-market"></span>
<span class="icon-130x130-building-iron_mine"></span>
<span class="icon-130x130-building-hospital"></span>
<span class="icon-130x130-building-headquarter"></span>
<span class="icon-130x130-building-fortress"></span>
<span class="icon-130x130-building-farm"></span>
<span class="icon-130x130-building-clay_pit"></span>
<span class="icon-130x130-building-church"></span>
<span class="icon-130x130-building-chapel"></span>
<span class="icon-130x130-building-barracks"></span>
<span class="icon-130x130-building-academy"></span>
<span class="icon-130x130-architectural_designer"></span>
<span class="icon-130x130-agricultural_leader"></span>
<span class="icon-120x120-workers"></span>
<span class="icon-120x120-wheel_spin"></span>
<span class="icon"></span>
<span class="icon"></span>
<span class="icon-120x120-vault_long"></span>
<span class="icon-120x120-unit-trebuchet"></span>
<span class="icon-120x120-unit-sword"></span>
<span class="icon-120x120-unit-spy"></span>
<span class="icon-120x120-unit-spy-5"></span>
<span class="icon-120x120-unit-spy-4"></span>
<span class="icon-120x120-unit-spy-3"></span>
<span class="icon-120x120-unit-spy-2"></span>
<span class="icon-120x120-unit-spear"></span>
<span class="icon-120x120-unit-snob"></span>
<span class="icon-120x120-unit-ram"></span>
<span class="icon-120x120-unit-mounted_archer"></span>
<span class="icon-120x120-unit-light_cavalry"></span>
<span class="icon-120x120-unit-knight"></span>
<span class="icon-120x120-unit-heavy_cavalry"></span>
<span class="icon-120x120-unit-doppelsoldner"></span>
<span class="icon-120x120-unit-catapult"></span>
<span class="icon-120x120-unit-axe"></span>
<span class="icon-120x120-unit-archer"></span>
<span class="icon-120x120-tribe_donate"></span>
<span class="icon-120x120-tribe-closed"></span>
<span class="icon-120x120-timberCamp"></span>
<span class="icon-120x120-storage"></span>
<span class="icon-120x120-skill-supporter"></span>
<span class="icon-120x120-skill-shared_crowns"></span>
<span class="icon-120x120-skill-recruit_speed_bonus"></span>
<span class="icon-120x120-skill-raid_speed"></span>
<span class="icon-120x120-skill-member_limit"></span>
<span class="icon-120x120-skill-medic"></span>
<span class="icon-120x120-skill-loot_bonus"></span>
<span class="icon-120x120-skill-iron_walls"></span>
<span class="icon-120x120-skill-better_spy_defense"></span>
<span class="icon-120x120-skill-better_hospital"></span>
<span class="icon-120x120-skill-attack_bonus"></span>
<span class="icon-120x120-scout"></span>
<span class="icon-120x120-resources"></span>
<span class="icon-120x120-resources-gold"></span>
<span class="icon-120x120-resource_deposit_reroll"></span>
<span class="icon-120x120-resource_boost_stockpile"></span>
<span class="icon-120x120-resource-wood"></span>
<span class="icon-120x120-resource-iron"></span>
<span class="icon-120x120-resource-clay"></span>
<span class="icon-120x120-reset-preceptory"></span>
<span class="icon-120x120-rallyPoint"></span>
<span class="icon-120x120-quest-hospital"></span>
<span class="icon-120x120-premium_village_relocate_random"></span>
<span class="icon-120x120-premium_village_relocate_chosen"></span>
<span class="icon-120x120-premium_village_manager"></span>
<span class="icon-120x120-premium_trade"></span>
<span class="icon-120x120-premium_second_queue_job"></span>
<span class="icon-120x120-premium_reset_order"></span>
<span class="icon-120x120-premium_research"></span>
<span class="icon-120x120-premium_paladin_relocate"></span>
<span class="icon-120x120-premium_paladin_instant_item"></span>
<span class="icon-120x120-premium_officer_supporter"></span>
<span class="icon-120x120-premium_officer_scout"></span>
<span class="icon-120x120-premium_officer_medic"></span>
<span class="icon-120x120-premium_officer_loot_master"></span>
<span class="icon-120x120-premium_officer_leader"></span>
<span class="icon-120x120-premium_officer_bastard"></span>
<span class="icon-120x120-premium_noob_protection"></span>
<span class="icon-120x120-premium_loot_protection"></span>
<span class="icon-120x120-premium_instant_transport"></span>
<span class="icon-120x120-premium_instant_build"></span>
<span class="icon-120x120-premium_domination"></span>
<span class="icon-120x120-premium_build_queue_slot"></span>
<span class="icon-120x120-premium_build_cost_reduction"></span>
<span class="icon-120x120-premium_boost_wood"></span>
<span class="icon-120x120-premium_boost_iron"></span>
<span class="icon-120x120-premium_boost_clay"></span>
<span class="icon-120x120-premium-package-4"></span>
<span class="icon-120x120-premium-package-3"></span>
<span class="icon-120x120-premium-package-2"></span>
<span class="icon-120x120-premium-package-1"></span>
<span class="icon-120x120-premium-package-0"></span>
<span class="icon-120x120-pegs"></span>
<span class="icon-120x120-paceholder-2"></span>
<span class="icon-120x120-paceholder-1"></span>
<span class="icon-120x120-milestone_food_small_boost"></span>
<span class="icon-120x120-member-kicked"></span>
<span class="icon-120x120-item-upgrade"></span>
<span class="icon-120x120-item-sword"></span>
<span class="icon-120x120-item-spear"></span>
<span class="icon-120x120-item-snob"></span>
<span class="icon-120x120-item-ram"></span>
<span class="icon-120x120-item-mounted_archer"></span>
<span class="icon-120x120-item-light_cavalry"></span>
<span class="icon-120x120-item-heavy_cavalry"></span>
<span class="icon-120x120-item-catapult"></span>
<span class="icon-120x120-item-axe"></span>
<span class="icon-120x120-item-archer"></span>
<span class="icon-120x120-founder-changed"></span>
<span class="icon-120x120-foundation-stone"></span>
<span class="icon-120x120-farm"></span>
<span class="icon-120x120-domination"></span>
<span class="icon-120x120-default-tribe-crest"></span>
<span class="icon-120x120-daily_unit_reroll"></span>
<span class="icon-120x120-daily_unit"></span>
<span class="icon-120x120-constructionSite"></span>
<span class="icon-120x120-check"></span>
<span class="icon-120x120-char-b"></span>
<span class="icon-120x120-celebrate"></span>
<span class="icon-120x120-break"></span>
<span class="icon-120x120-bountiful_season"></span>
<span class="icon-120x120-barracks"></span>
<span class="icon-120x120-application-reminder"></span>
<span class="icon-120x120-Wiederauferstehung"></span>
<span class="icon-120x120-TutorialFinisher"></span>
<span class="icon-120x120-TreueFreunde"></span>
<span class="icon-120x120-Topscorer"></span>
<span class="icon-120x120-QuestInventor"></span>
<span class="icon-120x120-Punktekoenige2"></span>
<span class="icon-120x120-PaladinsPower"></span>
<span class="icon-120x120-MeisterDerDiebe"></span>
<span class="icon-120x120-MasterOfQuesting"></span>
<span class="icon-120x120-Loyalmember"></span>
<span class="icon-120x120-Kontinentscorer"></span>
<span class="icon-120x120-KingOfTheWorld"></span>
<span class="icon-120x120-Forumstroll"></span>
<span class="icon-120x120-ErfolgreichesWerben"></span>
<span class="icon-120x120-Dynastie"></span>
<span class="icon-120x120-Craft"></span>
<span class="icon-120x120-BetaTestPericipant"></span>
<span class="icon-120x120-Amtsinhaber"></span>
<span class="icon-120x120-Amtsdynastie"></span>
<span class="icon-120x120-Aemterhaeufung"></span>
<span class="icon-120x120-ACTIVEATTACKER"></span>
<span class="icon-90x90-achievement-wall_levels_destroyed"></span>
<span class="icon-90x90-achievement-villages_lost_milestone"></span>
<span class="icon-90x90-achievement-villages_looted_unique"></span>
<span class="icon-90x90-achievement-villages_conquered_per_hour"></span>
<span class="icon-90x90-achievement-villages_conquered"></span>
<span class="icon-90x90-achievement-village_points"></span>
<span class="icon-90x90-achievement-village_owned_milestone_tribe"></span>
<span class="icon-90x90-achievement-village_conquered_milestone_tribe"></span>
<span class="icon-90x90-achievement-units_killed_milestone_tribe"></span>
<span class="icon-90x90-achievement-tribe_membership_days"></span>
<span class="icon-90x90-achievement-trebuchet_kills"></span>
<span class="icon-90x90-achievement-trades_completed_seller"></span>
<span class="icon-90x90-achievement-trades_completed_buyer"></span>
<span class="icon-90x90-achievement-trades_completed"></span>
<span class="icon-90x90-achievement-snobs_killed"></span>
<span class="icon-90x90-achievement-self_conquest"></span>
<span class="icon-90x90-achievement-self_attack"></span>
<span class="icon-90x90-achievement-scouts_killed_defender"></span>
<span class="icon-90x90-achievement-scouts_killed_attacker"></span>
<span class="icon-90x90-achievement-scouting_thwarted"></span>
<span class="icon-90x90-achievement-scouting_success"></span>
<span class="icon-90x90-achievement-resources_traded_wood"></span>
<span class="icon-90x90-achievement-resources_traded_iron"></span>
<span class="icon-90x90-achievement-resources_traded_clay"></span>
<span class="icon-90x90-achievement-resources_delivered"></span>
<span class="icon-90x90-achievement-recruited_siege_weapons"></span>
<span class="icon-90x90-achievement-recruited_infantry"></span>
<span class="icon-90x90-achievement-recruited_cavalry"></span>
<span class="icon-90x90-achievement-ranking_global"></span>
<span class="icon-90x90-achievement-ranking_continent"></span>
<span class="icon-90x90-achievement-provinces_owned_milestone_tribe"></span>
<span class="icon-90x90-achievement-province_king_milestone"></span>
<span class="icon-90x90-achievement-province_fully_owned_milestone"></span>
<span class="icon-90x90-achievement-points_milestone_tribe"></span>
<span class="icon-90x90-achievement-points"></span>
<span class="icon-90x90-achievement-players_attacked_unique"></span>
<span class="icon-90x90-achievement-overkill"></span>
<span class="icon-90x90-achievement-most_battle_weekly_tribe"></span>
<span class="icon-90x90-achievement-most_battle_weekly"></span>
<span class="icon-90x90-achievement-most_battle_daily_tribe"></span>
<span class="icon-90x90-achievement-most_battle_daily"></span>
<span class="icon-90x90-achievement-minted_coins"></span>
<span class="icon-90x90-achievement-max_level_walls"></span>
<span class="icon-90x90-achievement-max_level_taverns"></span>
<span class="icon-90x90-achievement-max_level_resources"></span>
<span class="icon-90x90-achievement-max_level_preceptories"></span>
<span class="icon-90x90-achievement-max_level_markets"></span>
<span class="icon-90x90-achievement-max_level_farms"></span>
<span class="icon-90x90-achievement-max_level_churches"></span>
<span class="icon-90x90-achievement-max_level_barracks"></span>
<span class="icon-90x90-achievement-major_battles_won"></span>
<span class="icon-90x90-achievement-major_battles_winning_streak"></span>
<span class="icon-90x90-achievement-major_battles_supported"></span>
<span class="icon-90x90-achievement-major_battle_perfect_defense"></span>
<span class="icon-90x90-achievement-major_battle_defense_outnumbered"></span>
<span class="icon-90x90-achievement-losses"></span>
<span class="icon-90x90-achievement-losses_support"></span>
<span class="icon-90x90-achievement-looted_village_weekly_tribe"></span>
<span class="icon-90x90-achievement-looted_village_weekly"></span>
<span class="icon-90x90-achievement-looted_village_daily_tribe"></span>
<span class="icon-90x90-achievement-looted_village_daily"></span>
<span class="icon-90x90-achievement-loot_weekly_tribe"></span>
<span class="icon-90x90-achievement-loot_weekly"></span>
<span class="icon-90x90-achievement-loot_daily_tribe"></span>
<span class="icon-90x90-achievement-loot_daily"></span>
<span class="icon-90x90-achievement-loot"></span>
<span class="icon-90x90-achievement-level_two_churches_milestone"></span>
<span class="icon-90x90-achievement-large_villages_owned"></span>
<span class="icon-90x90-achievement-huge_villages_owned"></span>
<span class="icon-90x90-achievement-fortress_built_milestone"></span>
<span class="icon-90x90-achievement-first_units_recruited"></span>
<span class="icon-90x90-achievement-first_units_killed"></span>
<span class="icon-90x90-achievement-first_resource_production"></span>
<span class="icon-90x90-achievement-first_resources_spent"></span>
<span class="icon-90x90-achievement-first_paladin_kill"></span>
<span class="icon-90x90-achievement-first_mixed_attack"></span>
<span class="icon-90x90-achievement-first_building_leveled_up"></span>
<span class="icon-90x90-achievement-first_attacks_made"></span>
<span class="icon-90x90-achievement-early_defeat"></span>
<span class="icon-90x90-achievement-doppelsoeldner_outnumbered"></span>
<span class="icon-90x90-achievement-defend_weekly_tribe"></span>
<span class="icon-90x90-achievement-defend_daily_tribe"></span>
<span class="icon-90x90-achievement-defend_weekly"></span>
<span class="icon-90x90-achievement-defend_daily"></span>
<span class="icon-90x90-achievement-coop_players"></span>
<span class="icon-90x90-achievement-continent_owned_milestone_tribe"></span>
<span class="icon-90x90-achievement-conquest_unlucky"></span>
<span class="icon-90x90-achievement-conquest_milestone"></span>
<span class="icon-90x90-achievement-conquest_lucky"></span>
<span class="icon-90x90-achievement-conquered_weekly_tribe"></span>
<span class="icon-90x90-achievement-conquered_weekly"></span>
<span class="icon-90x90-achievement-conquered_daily_tribe"></span>
<span class="icon-90x90-achievement-conquered_daily"></span>
<span class="icon-90x90-achievement-building_levels_destroyed"></span>
<span class="icon-90x90-achievement-build_fortress_milestone_tribe"></span>
<span class="icon-90x90-achievement-border"></span>
<span class="icon-90x90-achievement-bash_points_offense"></span>
<span class="icon-90x90-achievement-bash_points_milestone"></span>
<span class="icon-90x90-achievement-bash_points_defense"></span>
<span class="icon-90x90-achievement-attack_weekly_tribe"></span>
<span class="icon-90x90-achievement-attack_weekly"></span>
<span class="icon-90x90-achievement-attack_daily_tribe"></span>
<span class="icon-90x90-achievement-attack_daily"></span>
<span class="icon-90x90-achievement-achievement_points_milestone"></span>
<span class="icon-34x34-char-0"></span>
<span class="icon-34x34-char-1"></span>
<span class="icon-34x34-char-2"></span>
<span class="icon-34x34-char-3"></span>
<span class="icon-34x34-char-4"></span>
<span class="icon-34x34-char-5"></span>
<span class="icon-34x34-char-6"></span>
<span class="icon-34x34-char-7"></span>
<span class="icon-34x34-char-8"></span>
<span class="icon-34x34-char-9"></span>
<span class="icon-34x34-char-10"></span>
<span class="icon-34x34-char-11"></span>
<span class="icon-34x34-char-12"></span>
<span class="icon-34x34-char-13"></span>
<span class="icon-34x34-char-14"></span>
<span class="icon-34x34-char-15"></span>
<span class="icon-34x34-char-16"></span>
<span class="icon-34x34-char-17"></span>
<span class="icon-34x34-char-18"></span>
<span class="icon-34x34-char-19"></span>
<span class="icon-34x34-char-20"></span>
<span class="icon-34x34-char-21"></span>
<span class="icon-34x34-char-22"></span>
<span class="icon-34x34-char-23"></span>
<span class="icon-34x34-char-24"></span>
<span class="icon-34x34-char-25"></span>
<span class="icon-34x34-char-26"></span>
<span class="icon-34x34-char-27"></span>
<span class="icon-34x34-char-28"></span>
<span class="icon-34x34-char-29"></span>
<span class="icon-34x34-char-30"></span>
<span class="icon-34x34-char-31"></span>
<span class="icon-34x34-char-32"></span>
<span class="icon-34x34-char-33"></span>
<span class="icon-34x34-char-34"></span>
<span class="icon-34x34-char-35"></span>
<span class="icon-34x34-char-36"></span>
<span class="icon-34x34-char-37"></span>
<span class="icon-34x34-char-38"></span>
<span class="icon-34x34-char-39"></span>
<span class="icon-34x34-char-40"></span>
<span class="icon-34x34-char-41"></span>
<span class="icon-34x34-char-42"></span>
<span class="icon-34x34-char-43"></span>
<span class="icon-34x34-char-44"></span>
<span class="icon-34x34-char-45"></span>
<span class="icon-34x34-char-46"></span>
<span class="icon-34x34-char-47"></span>
<span class="icon-34x34-char-48"></span>
<span class="icon-34x34-char-49"></span>
<span class="icon-34x34-char-50"></span>
<span class="icon-34x34-char-51"></span>
<span class="icon-34x34-char-52"></span>
<span class="icon-34x34-char-53"></span>
<span class="icon-34x34-char-54"></span>
<span class="icon-34x34-char-55"></span>
<span class="icon-34x34-char-56"></span>
<span class="icon-34x34-char-57"></span>
<span class="icon-34x34-char-58"></span>
<span class="icon-34x34-char-59"></span>
<span class="icon-34x34-char-60"></span>
<span class="icon-90x90-char-0"></span>
<span class="icon-90x90-char-1"></span>
<span class="icon-90x90-char-2"></span>
<span class="icon-90x90-char-3"></span>
<span class="icon-90x90-char-4"></span>
<span class="icon-90x90-char-5"></span>
<span class="icon-90x90-char-6"></span>
<span class="icon-90x90-char-7"></span>
<span class="icon-90x90-char-8"></span>
<span class="icon-90x90-char-9"></span>
<span class="icon-90x90-char-10"></span>
<span class="icon-90x90-char-11"></span>
<span class="icon-90x90-char-12"></span>
<span class="icon-90x90-char-13"></span>
<span class="icon-90x90-char-14"></span>
<span class="icon-90x90-char-15"></span>
<span class="icon-90x90-char-16"></span>
<span class="icon-90x90-char-17"></span>
<span class="icon-90x90-char-18"></span>
<span class="icon-90x90-char-19"></span>
<span class="icon-90x90-char-20"></span>
<span class="icon-90x90-char-21"></span>
<span class="icon-90x90-char-22"></span>
<span class="icon-90x90-char-23"></span>
<span class="icon-90x90-char-24"></span>
<span class="icon-90x90-char-25"></span>
<span class="icon-90x90-char-26"></span>
<span class="icon-90x90-char-27"></span>
<span class="icon-90x90-char-28"></span>
<span class="icon-90x90-char-29"></span>
<span class="icon-90x90-char-30"></span>
<span class="icon-90x90-char-31"></span>
<span class="icon-90x90-char-32"></span>
<span class="icon-90x90-char-33"></span>
<span class="icon-90x90-char-34"></span>
<span class="icon-90x90-char-35"></span>
<span class="icon-90x90-char-36"></span>
<span class="icon-90x90-char-37"></span>
<span class="icon-90x90-char-38"></span>
<span class="icon-90x90-char-39"></span>
<span class="icon-90x90-char-40"></span>
<span class="icon-90x90-char-41"></span>
<span class="icon-90x90-char-42"></span>
<span class="icon-90x90-char-43"></span>
<span class="icon-90x90-char-44"></span>
<span class="icon-90x90-char-45"></span>
<span class="icon-90x90-char-46"></span>
<span class="icon-90x90-char-47"></span>
<span class="icon-90x90-char-48"></span>
<span class="icon-90x90-char-49"></span>
<span class="icon-90x90-char-50"></span>
<span class="icon-90x90-char-51"></span>
<span class="icon-90x90-char-52"></span>
<span class="icon-90x90-char-53"></span>
<span class="icon-90x90-char-54"></span>
<span class="icon-90x90-char-55"></span>
<span class="icon-90x90-char-56"></span>
<span class="icon-90x90-char-57"></span>
<span class="icon-90x90-char-58"></span>
<span class="icon-90x90-char-59"></span>
<span class="icon-90x90-char-60"></span>
<span class="icon-44x44-building-church"></span>
<span class="icon-44x44-building-chapel"></span>
<span class="icon-34x34-building-church"></span>
<span class="icon-34x34-building-chapel"></span>
<span class="icon-20x20-building-church"></span>
<span class="icon-20x20-building-chapel"></span>
<span class="icon-152x152-building-church"></span>
<span class="icon-152x152-building-chapel"></span>
<span class="icon-130x130-building-church"></span>
<span class="icon-130x130-building-chapel"></span>
<span class="icon-34x34-church"></span>
<span class="icon-blue"></span>
<span class="icon-black"></span>
<span class="icon-fade-color-in"></span>
<span class="icon-red"></span>




<span class="icon-26x26-worldmap"></span>
<span class="icon-26x26-village"></span>
<span class="icon-26x26-unlocked"></span>
<span class="icon-26x26-tribe"></span>
<span class="icon-26x26-trade"></span>
<span class="icon-26x26-time"></span>
<span class="icon-26x26-time-units"></span>
<span class="icon-26x26-time-trade"></span>
<span class="icon-26x26-time-spy"></span>
<span class="icon-26x26-time-special"></span>
<span class="icon-26x26-time-snob"></span>
<span class="icon-26x26-time-resource"></span>
<span class="icon-26x26-time-recruit-queue"></span>
<span class="icon-26x26-time-paladin"></span>
<span class="icon-26x26-time-duration"></span>
<span class="icon-26x26-time-build-queue"></span>
<span class="icon-26x26-time-arrival"></span>
<span class="icon-26x26-time-arrival-night"></span>
<span class="icon-26x26-switch-on"></span>
<span class="icon-26x26-switch-off"></span>
<span class="icon-26x26-support"></span>
<span class="icon-26x26-support-smaller"></span>
<span class="icon-26x26-stockpile"></span>
<span class="icon-26x26-small-arrow-up"></span>
<span class="icon-26x26-slot-premium-locked"></span>
<span class="icon-26x26-rte-village"></span>
<span class="icon-26x26-rte-unit"></span>
<span class="icon-26x26-rte-tribe"></span>
<span class="icon-26x26-rte-spoiler"></span>
<span class="icon-26x26-rte-report"></span>
<span class="icon-26x26-rte-link"></span>
<span class="icon-26x26-rte-image"></span>
<span class="icon-26x26-rte-color-picker"></span>
<span class="icon-26x26-rte-character"></span>
<span class="icon-26x26-rte-building"></span>
<span class="icon-26x26-resources"></span>
<span class="icon-26x26-resource-wood"></span>
<span class="icon-26x26-resource-premium"></span>
<span class="icon-26x26-resource-iron"></span>
<span class="icon-26x26-resource-food"></span>
<span class="icon-26x26-resource-clay"></span>
<span class="icon-26x26-relocate"></span>
<span class="icon-26x26-rank"></span>
<span class="icon-26x26-quote"></span>
<span class="icon-26x26-queue-full"></span>
<span class="icon-26x26-previous"></span>
<span class="icon-26x26-points"></span>
<span class="icon-26x26-plus"></span>
<span class="icon-26x26-parallel-recruiting"></span>
<span class="icon-26x26-normal-arrow-up"></span>
<span class="icon-26x26-normal-arrow-down"></span>
<span class="icon-26x26-noob-protection"></span>
<span class="icon-26x26-no-faith"></span>
<span class="icon-26x26-night-mode"></span>
<span class="icon-26x26-next"></span>
<span class="icon-26x26-minus"></span>
<span class="icon-26x26-message-system"></span>
<span class="icon-26x26-message-misc"></span>
<span class="icon-26x26-mainmenu-village"></span>
<span class="icon-26x26-mainmenu-rank"></span>
<span class="icon-26x26-mainmenu-player-profile"></span>
<span class="icon-26x26-loyalty"></span>
<span class="icon-26x26-logout"></span>
<span class="icon-26x26-list"></span>
<span class="icon-26x26-level-up"></span>
<span class="icon-26x26-level-up-warehouse-low"></span>
<span class="icon-26x26-level-up-resources-low"></span>
<span class="icon-26x26-level-up-premium"></span>
<span class="icon-26x26-level-up-max-reached"></span>
<span class="icon-26x26-level-up-impossible"></span>
<span class="icon-26x26-level-up-food-low"></span>
<span class="icon-26x26-level-up-farm-low"></span>
<span class="icon-26x26-jump-to"></span>
<span class="icon-26x26-info"></span>
<span class="icon-26x26-help"></span>
<span class="icon-26x26-food_capacity_increase"></span>
<span class="icon-26x26-font-underlined"></span>
<span class="icon-26x26-font-size"></span>
<span class="icon-26x26-font-italic"></span>
<span class="icon-26x26-font-bold"></span>
<span class="icon-26x26-favourite"></span>
<span class="icon-26x26-double-arrow"></span>
<span class="icon-26x26-dot-yellow"></span>
<span class="icon-26x26-dot-red"></span>
<span class="icon-26x26-dot-green"></span>
<span class="icon-26x26-dot-blue"></span>
<span class="icon-26x26-dot-bg"></span>
<span class="icon-26x26-domination"></span>
<span class="icon-26x26-crown-ranking"></span>
<span class="icon-26x26-construct"></span>
<span class="icon-26x26-close"></span>
<span class="icon-26x26-checkbox"></span>
<span class="icon-26x26-checkbox-checked"></span>
<span class="icon-26x26-check-positive"></span>
<span class="icon-26x26-check-negative"></span>
<span class="icon-26x26-capacity"></span>
<span class="icon-26x26-capacity-low"></span>
<span class="icon-26x26-bountiful_season"></span>
<span class="icon-26x26-attack-small"></span>
<span class="icon-26x26-attack-red"></span>
<span class="icon-26x26-arrow-up"></span>
<span class="icon-26x26-arrow-right"></span>
<span class="icon-26x26-arrow-progress"></span>
<span class="icon-26x26-arrow-max"></span>
<span class="icon-26x26-arrow-max-up"></span>
<span class="icon-26x26-arrow-left"></span>
<span class="icon-26x26-arrow-down"></span>