<div class="win-content" ng-controller="BuildingMarketController" ng-init="textObject = 'building_market'; texObjectResources = 'resource_names'"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/building_snippet_header.html' -->
<header class="win-head"> <h2>{{ building.name | i18n:loc.ale:'building_names' }} <span ng-if="building.level !== 0" class="small"> ({{ 'level' | i18n:loc.ale:'building_status':building.level }}<span ng-show="building.upgradingLevels"> + {{ building.upgradingLevels }}</span>) </span> <span ng-if="building.level === 0" class="small"> <span>({{ 'level_0' | i18n:loc.ale:'building_status' }})</span> </span> </h2> <ul class="list-btn"> <li> <a href="#" class="size-34x34 btn-red icon-26x26-close" ng-click="closeWindow()"></a> </li> </ul> </header>
<!-- ngInclude END: 'templates/building_snippet_header.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/building_snippet_not_researched_as_main.html' -->
<div ng-show="!building.researched || !building.level"> <div class="win-main win-main-not-researched" scrollbar=""> <div class="box-paper"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/building_snippet_not_researched.html' -->
<div ng-if="building.level === 0" class="snippet-not-researched" ng-controller="BuildingNotResearchedController" ng-init="textObject = 'building_status'"> <div class="box-outer"> <table> <colgroup> <col width="165px"> <col width="*"> </colgroup> <tbody> <tr> <td> <div class="box-border-shadow"> <div class="box-border-dark"> <div class="size-152x152 btn-orange icon-152x152-attention"></div> </div> </div> </td> <td class="cell-top"> <table class="tbl-border-light"> <thead> <tr> <th ng-if="!building.researched">{{ 'not_researched_title' | i18n:loc.ale:textObject }}</th> <th ng-if="building.researched">{{ 'not_built_title' | i18n:loc.ale:textObject }}</th> </tr> </thead> <tbody> <tr> <td class="message"> <span ng-if="!building.researched">{{ 'not_researched_body' | i18n:loc.ale:textObject }}</span> <span ng-if="building.researched">{{ 'not_built_body' | i18n:loc.ale:textObject }}</span> </td> </tr> </tbody> </table> <a href="#" class="btn-border btn-orange" ng-click="openHeadquarter()">{{ 'open_hq' | i18n:loc.ale:textObject }}</a> </td> </tr> </tbody> </table> </div> </div>
<!-- ngInclude END: 'templates/building_snippet_not_researched.html' -->
</div> </div> </div> </div>
<!-- ngInclude END: 'templates/building_snippet_not_researched_as_main.html' -->
</div> <div ng-if="building.level" class="win-main" scrollbar="">  <div class="tabs tabs-bg"> <div class="tabs-three-col"> <div class="tab" ng-click="setActiveTab(TABS.NPC);" ng-class="{ 'tab-active': activeTab == TABS.NPC }"> <div class="tab-inner"> <div ng-class="{'box-border-light': activeTab == TABS.NPC}"> <a href="#" ng-class="{'btn-icon btn-orange': activeTab != TABS.NPC}">{{ 'tab_npc' | i18n:loc.ale:textObject }}</a> </div> </div> </div> <div class="tab" ng-click="setActiveTab(TABS.OFFERS);" ng-class="{ 'tab-active': activeTab == TABS.OFFERS }"> <div class="tab-inner"> <div ng-class="{'box-border-light': activeTab == TABS.OFFERS}"> <a href="#" ng-class="{'btn-icon btn-orange': activeTab != TABS.OFFERS}">{{ 'tab_offers' | i18n:loc.ale:textObject }}</a> </div> </div> </div> <div class="tab" ng-click="setActiveTab(TABS.MARKET);" ng-class="{ 'tab-active': activeTab == TABS.MARKET }"> <div class="tab-inner"> <div ng-class="{'box-border-light': activeTab == TABS.MARKET}"> <a href="#" ng-class="{'btn-icon btn-orange': activeTab != TABS.MARKET}">{{ 'tab_market' | i18n:loc.ale:textObject }}</a> </div> </div> </div> </div> </div>  <div class="box-paper"> <div class="scroll-wrap">  <div ng-if="activeTab == 'npc'"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/building_market_merchant_status.html' -->
<table class="tbl-border-light tbl-outer"> <colgroup> <col width="20%"> <col width="80%"> </colgroup> <tbody> <tr> <th colspan="2">{{ 'merchant_status_title_merchant_status' | i18n:loc.ale:textObject }}</th> </tr> <tr> <td class="content"> {{ 'merchant_status_total' | i18n:loc.ale:textObject:(merchantStatus.total | number) }} </td> <td> <div class="progress-wrapper progress-big"> <div class="progress-text"> <span class="progress-text-left"> {{ 'merchant_status_free' | i18n:loc.ale:textObject:(merchantStatus.free | number) }} </span> <span class="progress-text-right"> {{ 'merchant_status_used' | i18n:loc.ale:textObject:((merchantStatus.total - merchantStatus.free) | number) }} </span> </div> <div class="progress-bar" ng-style="{ width: merchantStatus.percent + '%' }"></div> </div> </td> </tr> </tbody> </table>
<!-- ngInclude END: 'templates/building_market_merchant_status.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/building_market_npc_tab.html' -->
<h5 class="twx-section"> {{ 'section_npc_trade' | i18n:loc.ale:textObject }} <span class="min-max-btn"> <a href="#" ng-class="{ 'icon-26x26-plus': !sections.npcTrade, 'icon-26x26-minus': sections.npcTrade }" class="size-tiny btn-orange icon-26x26-minus" ng-click="sections.npcTrade = !sections.npcTrade"></a> </span> </h5> <div ng-if="sections.npcTrade"> <table class="tbl-border-light tbl-outer"> <colgroup> <col width="170px"> <col width="85px"> <col width="85px"> <col width="85px"> <col width="30%"> <col width="*"> </colgroup> <tbody> <tr> <td class="content"> {{ 'you_give' | i18n:loc.ale:textObject }} </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resource-wood question-mark" tooltip="" tooltip-content="{{ 'wood' | i18n:loc.ale:'resource_names' }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.npc.trade.offered_resource != 'wood', 'icon-44x44-radio-checked': tabData.npc.trade.offered_resource == 'wood', 'btn-green': tabData.npc.trade.offered_resource == 'wood' && !(tabData.npc.trade.offered_resource == 'wood' && tabData.npc.trade.wanted_resource == 'wood'), 'btn-red': tabData.npc.trade.offered_resource == 'wood' && tabData.npc.trade.wanted_resource == 'wood' }" for="create-offer-offered-resource-wood"> <input id="create-offer-offered-resource-wood" type="radio" ng-model="tabData.npc.trade.offered_resource" value="wood"> </label> </div> </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resource-clay question-mark" tooltip="" tooltip-content="{{ 'clay' | i18n:loc.ale:'resource_names' }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.npc.trade.offered_resource != 'clay', 'icon-44x44-radio-checked': tabData.npc.trade.offered_resource == 'clay', 'btn-green': tabData.npc.trade.offered_resource == 'clay' && !(tabData.npc.trade.offered_resource == 'clay' && tabData.npc.trade.wanted_resource == 'clay'), 'btn-red': tabData.npc.trade.offered_resource == 'clay' && tabData.npc.trade.wanted_resource == 'clay' }" for="create-offer-offered-resource-clay"> <input id="create-offer-offered-resource-clay" type="radio" ng-model="tabData.npc.trade.offered_resource" value="clay"> </label> </div> </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resource-iron question-mark" tooltip="" tooltip-content="{{ 'iron' | i18n:loc.ale:'resource_names' }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.npc.trade.offered_resource != 'iron', 'icon-44x44-radio-checked': tabData.npc.trade.offered_resource == 'iron', 'btn-green': tabData.npc.trade.offered_resource == 'iron' && !(tabData.npc.trade.offered_resource == 'iron' && tabData.npc.trade.wanted_resource == 'iron'), 'btn-red': tabData.npc.trade.offered_resource == 'iron' && tabData.npc.trade.wanted_resource == 'iron' }" for="create-offer-offered-resource-iron"> <input id="create-offer-offered-resource-iron" type="radio" ng-model="tabData.npc.trade.offered_resource" value="iron"> </label> </div> </td> <td colspan="2"> <div range-slider="" input-field-focus="onFocus(tabData.npc.trade, 'offered_resource_amount')" input-field-blur="onBlur(tabData.npc.trade, 'offered_resource_amount')" min="0" max="tabData.npc.trade.max_offered_resource_amount" snap="1" value="tabData.npc.trade.offered_resource_amount" enabled="true" input-field="true" inline-text="{{ 'range_slider_inline_text_amount' | i18n:loc.ale:textObject }}"></div> </td> </tr> <tr> <td class="content"> {{ 'you_get' | i18n:loc.ale:textObject }} </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resource-wood question-mark" tooltip="" tooltip-content="{{ 'wood' | i18n:loc.ale:'resource_names' }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.npc.trade.wanted_resource != 'wood', 'icon-44x44-radio-checked': tabData.npc.trade.wanted_resource == 'wood', 'btn-green': tabData.npc.trade.wanted_resource == 'wood' && !(tabData.npc.trade.wanted_resource == 'wood' && tabData.npc.trade.offered_resource == 'wood'), 'btn-red': tabData.npc.trade.wanted_resource == 'wood' && tabData.npc.trade.offered_resource == 'wood' }" for="create-offer-wanted-resource-wood"> <input id="create-offer-wanted-resource-wood" type="radio" ng-model="tabData.npc.trade.wanted_resource" value="wood"> </label> </div> </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resource-clay question-mark" tooltip="" tooltip-content="{{ 'clay' | i18n:loc.ale:'resource_names' }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.npc.trade.wanted_resource != 'clay', 'icon-44x44-radio-checked': tabData.npc.trade.wanted_resource == 'clay', 'btn-green': tabData.npc.trade.wanted_resource == 'clay' && !(tabData.npc.trade.wanted_resource == 'clay' && tabData.npc.trade.offered_resource == 'clay'), 'btn-red': tabData.npc.trade.wanted_resource == 'clay' && tabData.npc.trade.offered_resource == 'clay' }" for="create-offer-wanted-resource-clay"> <input id="create-offer-wanted-resource-clay" type="radio" ng-model="tabData.npc.trade.wanted_resource" value="clay"> </label> </div> </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resource-iron question-mark" tooltip="" tooltip-content="{{ 'iron' | i18n:loc.ale:'resource_names' }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.npc.trade.wanted_resource != 'iron', 'icon-44x44-radio-checked': tabData.npc.trade.wanted_resource == 'iron', 'btn-green': tabData.npc.trade.wanted_resource == 'iron' && !(tabData.npc.trade.wanted_resource == 'iron' && tabData.npc.trade.offered_resource == 'iron'), 'btn-red': tabData.npc.trade.wanted_resource == 'iron' && tabData.npc.trade.offered_resource == 'iron' }" for="create-offer-wanted-resource-iron"> <input id="create-offer-wanted-resource-iron" type="radio" ng-model="tabData.npc.trade.wanted_resource" value="iron"> </label> </div> </td> <td> <input remove-zero="" ng-focus="onFocus(tabData.npc.trade, 'wanted_resource_amount')" ng-blur="onBlur(tabData.npc.trade, 'wanted_resource_amount')" type="text" ng-model="tabData.npc.trade.wanted_resource_amount" class="instant-trade-wanted-amount"> </td> <td class="cell-center"> {{ 'npc_ratio' | i18n:loc.ale:textObject }} </td> </tr> </tbody> </table> <a href="#" class="btn-yellow btn-border btn-trading-execute" ng-click="!instantTradeinstantTradeStarted && instantTrade();" ng-class="{'btn-green': inventory[tradeItemKey] && inventory[tradeItemKey].amount, 'btn-grey': instantTradeStarted || !tabData.npc.trade.offered_resource_amount || tabData.npc.trade.wanted_resource == tabData.npc.trade.offered_resource }" tooltip="" tooltip-if="instantTradeTooltip" tooltip-content="{{ instantTradeTooltip | i18n:loc.ale:textObject }}"> <span class="icon"> <span class="icon-26x26-resource-premium" ng-class="{ 'icon-inactive': instantTradeStarted || !tabData.npc.trade.offered_resource_amount || tabData.npc.trade.wanted_resource == tabData.npc.trade.offered_resource }"></span> <span class="premium-cost">{{ inventory[tradeItemKey] && inventory[tradeItemKey].amount ? '' : (tabData.npc.instant_trade_premium_costs | number) }}</span> </span> <span class="text">{{ (inventory[tradeItemKey] && inventory[tradeItemKey].amount ? 'btn_premium_instant_trade_item' : 'btn_premium_instant_trade') | i18n:loc.ale:textObject }}</span> </a> </div> <div ng-if="tabData.npc.list.records.length"> <h5 class="twx-section">{{ 'section_merchant_details' | i18n:loc.ale:textObject }}</h5> <div pagination="tabData.npc.pagination"></div> <table class="tbl-border-light tbl-outer"> <colgroup> <col width="34px"> <col width="20%"> <col width="20%"> <col width="*"> <col width="20%"> <col width="150px"> </colgroup> <thead> <tr> <th class="cell-order" ng-click="setOrder('returning');"> {{ 'table_transport_list_head_status' | i18n:loc.ale:textObject }} <span ng-show="tabData.npc.order.field == 'returning'"> <span class="sort-icon" ng-class="{ true: 'icon-20x20-sort-asc', false: 'icon-20x20-sort-desc' }[tabData.npc.order.direction == orderTypeProvider.ASC]"></span> </span> </th> <th class="cell-order"> {{ 'table_transport_list_head_resources' | i18n:loc.ale:textObject }} </th> <th class="cell-order" ng-click="setOrder('merchantAmount');"> {{ 'table_transport_list_head_merchants' | i18n:loc.ale:textObject }} <span ng-show="tabData.npc.order.field == 'merchantAmount'"> <span class="sort-icon" ng-class="{ true: 'icon-20x20-sort-asc', false: 'icon-20x20-sort-desc' }[tabData.npc.order.direction == orderTypeProvider.ASC]"></span> </span> </th> <th class="cell-order" ng-click="setOrder('destination');"> {{ 'table_transport_list_head_destination' | i18n:loc.ale:textObject }} <span ng-show="tabData.npc.order.field == 'destination'"> <span class="sort-icon" ng-class="{ true: 'icon-20x20-sort-asc', false: 'icon-20x20-sort-desc' }[tabData.npc.order.direction == orderTypeProvider.ASC]"></span> </span> </th> <th class="cell-order" ng-click="setOrder('completedAt');"> {{ 'table_transport_list_head_remaining_time' | i18n:loc.ale:textObject }} <span ng-show="tabData.npc.order.field == 'completedAt'"> <span class="sort-icon" ng-class="{ true: 'icon-20x20-sort-asc', false: 'icon-20x20-sort-desc' }[tabData.npc.order.direction == orderTypeProvider.ASC]"></span> </span> </th> <th class="cell-order"> {{ 'table_transport_list_head_cancel' | i18n:loc.ale:textObject }} </th> </tr> </thead> <tbody> <tr ng-repeat="trade in tabData.npc.list.records | paginationFilter:tabData.npc.pagination:tabData.npc.order"> <td class="fix-small cell-center"> <div class="ff-cell-fix cell-space-small"> <span class="size-34x34 icon-bg-black question-mark" ng-class="{ false : 'icon-34x34-units-outgoing', true : 'icon-34x34-units-return' }[trade.returning]" tooltip="" tooltip-content="{{ (trade.returning ? 'status_tooltip_returning' : 'status_tooltip_outgoing' ) | i18n:loc.ale:textObject }}"></span> </div> </td> <td class="cell-space-left cell-center"> <div class="ff-cell-fix cell-space-small" ng-if="!trade.returning"> <span class="size-34x34 icon-bg-black icon-34x34-resources question-mark" ng-if="trade.resourceType === 'multi'" tooltip="" tooltip-content="{{ 'tooltip_multiple_resources' | i18n:loc.ale:textObject }}"></span> <span class="size-34x34 icon-bg-black icon-34x34-resource-{{ trade.resourceType }} question-mark" ng-if="trade.resourceType !== 'multi'" tooltip="" tooltip-content="{{ trade.resourceType | i18n:loc.ale:'resource_names' }}"></span> {{ trade.resourceAmount | number }} </div> </td> <td class="content cell-center"> {{ trade.merchantAmount | number }} </td> <td class="content cell-center"> {{ trade.destination }} </td> <td class="content cell-center flex"> <div class="progress-wrapper progress-green trade-progress"> <div class="progress-text">{{ trade.countdown() }}</div> <div class="progress-bar" ng-style="{width: trade.percent() + '%'}"></div> </div> <div> <span class="btn-yellow size-34x34 icon-34x34-premium-instant-transport" tooltip="" tooltip-content="{{ 'instant_transport' | i18n:loc.ale:textObject }}" ng-click="instantTransport(trade)"></span> </div> </td> <td class="cell-center"> <div ng-if="isCancelable(trade)" class="ff-cell-fix cell-space-small cancel-wrapper"> {{ trade.readableCancelTime() }} <span class="size-34x34 btn-red icon-26x26-close button-cancel" tooltip="" tooltip-content="{{ 'btn_tooltip_cancel_trade' | i18n:loc.ale:textObject }}" ng-click="openCancelCommandModal(trade)"></span> </div> <div ng-if="!isCancelable(trade)"> N/A </div> </td> </tr> </tbody> </table> <div pagination="tabData.npc.pagination"></div> </div>
<!-- ngInclude END: 'templates/building_market_npc_tab.html' -->
</div> </div>   <div ng-if="activeTab == 'offers'"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/building_market_merchant_status.html' -->
<table class="tbl-border-light tbl-outer"> <colgroup> <col width="20%"> <col width="80%"> </colgroup> <tbody> <tr> <th colspan="2">{{ 'merchant_status_title_merchant_status' | i18n:loc.ale:textObject }}</th> </tr> <tr> <td class="content"> {{ 'merchant_status_total' | i18n:loc.ale:textObject:(merchantStatus.total | number) }} </td> <td> <div class="progress-wrapper progress-big"> <div class="progress-text"> <span class="progress-text-left"> {{ 'merchant_status_free' | i18n:loc.ale:textObject:(merchantStatus.free | number) }} </span> <span class="progress-text-right"> {{ 'merchant_status_used' | i18n:loc.ale:textObject:((merchantStatus.total - merchantStatus.free) | number) }} </span> </div> <div class="progress-bar" ng-style="{ width: merchantStatus.percent + '%' }"></div> </div> </td> </tr> </tbody> </table>
<!-- ngInclude END: 'templates/building_market_merchant_status.html' -->
</div> <h5 class="twx-section"> {{ 'section_create_an_offer' | i18n:loc.ale:textObject }} <span class="min-max-btn"> <a href="#" ng-class="{ 'icon-26x26-plus': !sections.create, 'icon-26x26-minus': sections.create }" class="size-tiny btn-orange icon-26x26-minus" ng-click="sections.create = !sections.create"></a> </span> </h5> <div ng-if="sections.create"> <table class="tbl-border-light tbl-outer"> <colgroup> <col width="170px"> <col width="85px"> <col width="85px"> <col width="85px"> <col width="*"> </colgroup> <tbody> <tr> <td class="content"> {{ 'you_give' | i18n:loc.ale:textObject }} </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resource-wood question-mark" tooltip="" tooltip-content="{{ 'wood' | i18n:loc.ale:'resource_names' }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.offers.create.offered_resource != 'wood', 'icon-44x44-radio-checked': tabData.offers.create.offered_resource == 'wood', 'btn-red': tabData.offers.create.offered_resource == 'wood' && tabData.offers.create.wanted_resource == 'wood' }" for="create-offer-offered-resource-wood"> <input id="create-offer-offered-resource-wood" type="radio" ng-model="tabData.offers.create.offered_resource" value="wood"> </label> </div> </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resource-clay question-mark" tooltip="" tooltip-content="{{ 'clay' | i18n:loc.ale:'resource_names' }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.offers.create.offered_resource != 'clay', 'icon-44x44-radio-checked': tabData.offers.create.offered_resource == 'clay', 'btn-red': tabData.offers.create.offered_resource == 'clay' && tabData.offers.create.wanted_resource == 'clay' }" for="create-offer-offered-resource-clay"> <input id="create-offer-offered-resource-clay" type="radio" ng-model="tabData.offers.create.offered_resource" value="clay"> </label> </div> </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resource-iron question-mark" tooltip="" tooltip-content="{{ 'iron' | i18n:loc.ale:'resource_names' }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.offers.create.offered_resource != 'iron', 'icon-44x44-radio-checked': tabData.offers.create.offered_resource == 'iron', 'btn-red': tabData.offers.create.offered_resource == 'iron' && tabData.offers.create.wanted_resource == 'iron' }" for="create-offer-offered-resource-iron"> <input id="create-offer-offered-resource-iron" type="radio" ng-model="tabData.offers.create.offered_resource" value="iron"> </label> </div> </td> <td> <div range-slider="" ng-focus="onFocus(tabData.offers.create, 'offered_resource_amount')" ng-blur="onBlur(tabData.offers.create, 'offered_resource_amount')" min="0" max="tabData.offers.create.max_offered_resource_amount" snap="1" value="tabData.offers.create.offered_resource_amount" enabled="true" input-field="true" inline-text="{{ 'range_slider_inline_text_amount' | i18n:loc.ale:textObject }}"></div> </td> </tr> <tr> <td class="content"> {{ 'you_get' | i18n:loc.ale:textObject }} </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resource-wood question-mark" tooltip="" tooltip-content="{{ 'wood' | i18n:loc.ale:'resource_names' }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.offers.create.wanted_resource != 'wood', 'icon-44x44-radio-checked': tabData.offers.create.wanted_resource == 'wood', 'btn-red': tabData.offers.create.wanted_resource == 'wood' && tabData.offers.create.offered_resource == 'wood' }" for="create-offer-wanted-resource-wood"> <input id="create-offer-wanted-resource-wood" type="radio" ng-model="tabData.offers.create.wanted_resource" value="wood"> </label> </div> </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resource-clay question-mark" tooltip="" tooltip-content="{{ 'clay' | i18n:loc.ale:'resource_names' }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.offers.create.wanted_resource != 'clay', 'icon-44x44-radio-checked': tabData.offers.create.wanted_resource == 'clay', 'btn-red': tabData.offers.create.wanted_resource == 'clay' && tabData.offers.create.offered_resource == 'clay' }" for="create-offer-wanted-resource-clay"> <input id="create-offer-wanted-resource-clay" type="radio" ng-model="tabData.offers.create.wanted_resource" value="clay"> </label> </div> </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resource-iron question-mark" tooltip="" tooltip-content="{{ 'iron' | i18n:loc.ale:'resource_names' }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.offers.create.wanted_resource != 'iron', 'icon-44x44-radio-checked': tabData.offers.create.wanted_resource == 'iron', 'btn-red': tabData.offers.create.wanted_resource == 'iron' && tabData.offers.create.offered_resource == 'iron' }" for="create-offer-wanted-resource-iron"> <input id="create-offer-wanted-resource-iron" type="radio" ng-model="tabData.offers.create.wanted_resource" value="iron"> </label> </div> </td> <td> <div class="content"> {{ 'info_text_fixed_ratio' | i18n:loc.ale:textObject:tabData.offers.create.offered_resource_amount:(tabData.offers.create.offered_resource | i18n:loc.ale:texObjectResources):(tabData.offers.create.wanted_resource | i18n:loc.ale:texObjectResources) }} </div> </td> </tr> </tbody> </table> <table class="tbl-border-light tbl-outer"> <colgroup> <col width="50%"> <col width="50%"> </colgroup> <tbody> <tr> <td class="content"> <div range-slider="" ng-focus="onFocus(tabData.offers.create, 'offered_amount')" ng-blur="onBlur(tabData.offers.create, 'offered_amount')" min="tabData.offers.create.min_offered_amount" max="tabData.offers.create.max_offered_amount" snap="1" value="tabData.offers.create.offered_amount" enabled="true" input-field="true" inline-text="{{ 'range_slider_inline_text_amount_of_offers' | i18n:loc.ale:textObject }}"></div> </td> <td class="content"> <div range-slider="" ng-focus="onFocus(tabData.offers.create, 'delivery_time')" ng-blur="onBlur(tabData.offers.create, 'delivery_time')" min="tabData.offers.create.min_delivery_time" max="tabData.offers.create.max_delivery_time" snap="1" value="tabData.offers.create.delivery_time" enabled="tabData.offers.create.max_offered_resource_amount" input-field="true" simple="true" input-field-blur="boundTime" inline-text="{{ 'range_slider_inline_text_max_delivery_time_hours' | i18n:loc.ale:textObject }}"></div> </td> </tr> </tbody> </table> <a href="#" class="size-34x34 btn-orange btn-border btn-trading-execute" ng-class="{ 'btn-grey': !tabData.offers.create.offered_amount || tabData.offers.create.wanted_resource == tabData.offers.create.offered_resource || merchantStatus.free == 0 }" ng-disabled="!tabData.offers.create.offered_amount || tabData.offers.create.wanted_resource == tabData.offers.create.offered_resource || merchantStatus.free == 0" ng-click="createOffer()" tooltip="" tooltip-if="createOfferTooltip" tooltip-content="{{ createOfferTooltip | i18n:loc.ale:textObject }}">{{ 'btn_create_offer' | i18n:loc.ale:textObject }}</a> </div> <div ng-if="tabData.offers.list.records.length"> <h5 class="twx-section">{{ 'section_your_offers' | i18n:loc.ale:textObject }}</h5> <div pagination="tabData.offers.pagination"></div> <table class="tbl-border-light tbl-outer tbl-striped"> <colgroup> <col width="20%"> <col width="20%"> <col width="15%"> <col width="22%"> <col width="*"> <col width="1"> </colgroup> <thead> <tr> <th class="cell-order" ng-click="setOrder('offered_resource_amount');"> {{ 'you_give' | i18n:loc.ale:textObject }} <span ng-show="tabData.offers.order.field == 'offered_resource_amount'"> <span class="sort-icon" ng-class="{ true: 'icon-20x20-sort-asc', false: 'icon-20x20-sort-desc' }[tabData.offers.order.direction == orderTypeProvider.ASC]"></span> </span> </th> <th class="cell-order" ng-click="setOrder('requested_resource_amount');"> {{ 'you_get' | i18n:loc.ale:textObject }} <span ng-show="tabData.offers.order.field == 'requested_resource_amount'"> <span class="sort-icon" ng-class="{ true: 'icon-20x20-sort-asc', false: 'icon-20x20-sort-desc' }[tabData.offers.order.direction == orderTypeProvider.ASC]"></span> </span> </th> <th class="cell-order" ng-click="setOrder('offer_amount');"> {{ 'table_offer_list_head_amount' | i18n:loc.ale:textObject }} <span ng-show="tabData.offers.order.field == 'offer_amount'"> <span class="sort-icon" ng-class="{ true: 'icon-20x20-sort-asc', false: 'icon-20x20-sort-desc' }[tabData.offers.order.direction == orderTypeProvider.ASC]"></span> </span> </th> <th class="cell-order" ng-click="setOrder('max_delivery_time');"> {{ 'table_offer_list_head_max_delivery_time' | i18n:loc.ale:textObject }} <span ng-show="tabData.offers.order.field == 'max_delivery_time'"> <span class="sort-icon" ng-class="{ true: 'icon-20x20-sort-asc', false: 'icon-20x20-sort-desc' }[tabData.offers.order.direction == orderTypeProvider.ASC]"></span> </span> </th> <th class="cell-order" ng-click="setOrder('village_name');"> {{ 'table_offer_list_head_village_name' | i18n:loc.ale:textObject }} <span ng-show="tabData.offers.order.field == 'village_name'"> <span class="sort-icon" ng-class="{ true: 'icon-20x20-sort-asc', false: 'icon-20x20-sort-desc' }[tabData.offers.order.direction == orderTypeProvider.ASC]"></span> </span> </th> <th>&nbsp;</th> </tr> </thead> <tbody> <tr ng-repeat="offer in tabData.offers.list.records" ng-class="{'own-row': offer.village_id == villageId}"> <td class="cell-space-left cell-center"> <div class="ff-cell-fix cell-space-small"> <span class="size-34x34 icon-bg-black icon-34x34-resource-{{ offer.offered_resource }} question-mark" tooltip="" tooltip-content="{{ offer.offered_resource | i18n:loc.ale:'resource_names' }}"></span> {{ offer.offered_resource_amount | number }} </div> </td> <td class="cell-space-left cell-center"> <div class="ff-cell-fix cell-space-small"> <span class="size-34x34 icon-bg-black icon-34x34-resource-{{ offer.requested_resource }} question-mark" tooltip="" tooltip-content="{{ offer.requested_resource | i18n:loc.ale:'resource_names' }}"></span> {{ offer.requested_resource_amount | number }} </div> </td> <td class="content cell-center"> {{ offer.offer_amount | number }} </td> <td class="content cell-center"> {{ offer.max_delivery_time | readableSecondsFilter }} </td> <td class="content cell-center"> {{ offer.village_name }} </td> <td> <div> <span class="size-34x34 btn-red icon-34x34-trash" tooltip="" tooltip-content="{{ 'btn_delete_offer' | i18n:loc.ale:textObject }}" ng-click="deleteOffer(offer);"></span> </div> </td> </tr> </tbody> </table> <div pagination="tabData.offers.pagination"></div> </div> </div>   <div ng-if="activeTab == 'market'"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/building_market_merchant_status.html' -->
<table class="tbl-border-light tbl-outer"> <colgroup> <col width="20%"> <col width="80%"> </colgroup> <tbody> <tr> <th colspan="2">{{ 'merchant_status_title_merchant_status' | i18n:loc.ale:textObject }}</th> </tr> <tr> <td class="content"> {{ 'merchant_status_total' | i18n:loc.ale:textObject:(merchantStatus.total | number) }} </td> <td> <div class="progress-wrapper progress-big"> <div class="progress-text"> <span class="progress-text-left"> {{ 'merchant_status_free' | i18n:loc.ale:textObject:(merchantStatus.free | number) }} </span> <span class="progress-text-right"> {{ 'merchant_status_used' | i18n:loc.ale:textObject:((merchantStatus.total - merchantStatus.free) | number) }} </span> </div> <div class="progress-bar" ng-style="{ width: merchantStatus.percent + '%' }"></div> </div> </td> </tr> </tbody> </table>
<!-- ngInclude END: 'templates/building_market_merchant_status.html' -->
</div> <h5 class="twx-section"> {{ 'section_search_filter' | i18n:loc.ale:textObject }} <span class="min-max-btn"> <a href="#" ng-class="{ 'icon-26x26-plus': !sections.search, 'icon-26x26-minus': sections.search }" class="size-tiny btn-orange icon-26x26-minus" ng-click="sections.search = !sections.search"></a> </span> </h5> <div ng-if="sections.search"> <table class="tbl-border-light tbl-outer"> <colgroup> <col width="*"> <col width="85px"> <col width="85px"> <col width="85px"> <col width="85px"> <col width="*"> <col width="85px"> <col width="85px"> <col width="85px"> <col width="85px"> </colgroup> <tbody> <tr> <td class="content"> {{ 'you_get' | i18n:loc.ale:textObject }} </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resources question-mark" tooltip="" tooltip-content="{{ 'any_resource' | i18n:loc.ale:textObject }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.market.filter.offered_resource != 'any', 'icon-44x44-radio-checked': tabData.market.filter.offered_resource == 'any' }" for="market-filter-offered-resource-any"> <input id="market-filter-offered-resource-any" type="radio" ng-model="tabData.market.filter.offered_resource" value="any"> </label> </div> </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resource-wood question-mark" tooltip="" tooltip-content="{{ 'wood' | i18n:loc.ale:'resource_names' }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.market.filter.offered_resource != 'wood', 'icon-44x44-radio-checked': tabData.market.filter.offered_resource == 'wood', 'btn-red': tabData.market.filter.wanted_resource == 'wood' && tabData.market.filter.offered_resource == 'wood' && tabData.market.filter.wanted_resource != 'any' }" for="market-filter-offered-resource-wood"> <input id="market-filter-offered-resource-wood" type="radio" ng-model="tabData.market.filter.offered_resource" value="wood"> </label> </div> </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resource-clay question-mark" tooltip="" tooltip-content="{{ 'clay' | i18n:loc.ale:'resource_names' }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.market.filter.offered_resource != 'clay', 'icon-44x44-radio-checked': tabData.market.filter.offered_resource == 'clay', 'btn-red': tabData.market.filter.wanted_resource == 'clay' && tabData.market.filter.offered_resource == 'clay' && tabData.market.filter.wanted_resource != 'any' }" for="market-filter-offered-resource-clay"> <input id="market-filter-offered-resource-clay" type="radio" ng-model="tabData.market.filter.offered_resource" value="clay"> </label> </div> </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resource-iron question-mark" tooltip="" tooltip-content="{{ 'iron' | i18n:loc.ale:'resource_names' }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.market.filter.offered_resource != 'iron', 'icon-44x44-radio-checked': tabData.market.filter.offered_resource == 'iron', 'btn-red': tabData.market.filter.wanted_resource == 'iron' && tabData.market.filter.offered_resource == 'iron' && tabData.market.filter.wanted_resource != 'any' }" for="market-filter-offered-resource-iron"> <input id="market-filter-offered-resource-iron" type="radio" ng-model="tabData.market.filter.offered_resource" value="iron"> </label> </div> </td> <td class="content"> {{ 'you_give' | i18n:loc.ale:textObject }} </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resources question-mark" tooltip="" tooltip-content="{{ 'any_resource' | i18n:loc.ale:textObject }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.market.filter.wanted_resource != 'any', 'icon-44x44-radio-checked': tabData.market.filter.wanted_resource == 'any' }" for="market-filter-wanted-resource-any"> <input id="market-filter-wanted-resource-any" type="radio" ng-model="tabData.market.filter.wanted_resource" value="any"> </label> </div> </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resource-wood question-mark" tooltip="" tooltip-content="{{ 'wood' | i18n:loc.ale:'resource_names' }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.market.filter.wanted_resource != 'wood', 'icon-44x44-radio-checked': tabData.market.filter.wanted_resource == 'wood', 'btn-red': tabData.market.filter.offered_resource == 'wood' && tabData.market.filter.wanted_resource == 'wood' && tabData.market.filter.wanted_resource != 'any' }" for="market-filter-wanted-resource-wood"> <input id="market-filter-wanted-resource-wood" type="radio" ng-model="tabData.market.filter.wanted_resource" value="wood"> </label> </div> </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resource-clay question-mark" tooltip="" tooltip-content="{{ 'clay' | i18n:loc.ale:'resource_names' }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.market.filter.wanted_resource != 'clay', 'icon-44x44-radio-checked': tabData.market.filter.wanted_resource == 'clay', 'btn-red': tabData.market.filter.offered_resource == 'clay' && tabData.market.filter.wanted_resource == 'clay' && tabData.market.filter.wanted_resource != 'any' }" for="market-filter-wanted-resource-clay"> <input id="market-filter-wanted-resource-clay" type="radio" ng-model="tabData.market.filter.wanted_resource" value="clay"> </label> </div> </td> <td> <div class="ff-cell-fix cell-space-small resource-selection"> <span class="size-34x34 icon-bg-black icon-34x34-resource-iron question-mark" tooltip="" tooltip-content="{{ 'iron' | i18n:loc.ale:'resource_names' }}"></span> <label class="size-34x34 btn-orange" ng-class="{'icon-44x44-radio': tabData.market.filter.wanted_resource != 'iron', 'icon-44x44-radio-checked': tabData.market.filter.wanted_resource == 'iron', 'btn-red': tabData.market.filter.offered_resource == 'iron' && tabData.market.filter.wanted_resource == 'iron' && tabData.market.filter.wanted_resource != 'any' }" for="market-filter-wanted-resource-iron"> <input id="market-filter-wanted-resource-iron" type="radio" ng-model="tabData.market.filter.wanted_resource" value="iron"> </label> </div> </td> </tr> </tbody> </table> <table class="tbl-border-light tbl-outer"> <colgroup> <col width="*"> <col width="95px"> </colgroup> <tbody> <tr> <td class="content"> <div range-slider="" ng-focus="onFocus(tabData.market.filter, 'delivery_time')" ng-blur="onBlur(tabData.market.filter, 'delivery_time')" min="tabData.market.filter.min_delivery_time" max="tabData.market.filter.max_delivery_time" snap="1" value="tabData.market.filter.delivery_time" enabled="true" input-field="true" simple="true" input-field-blur="boundTime" inline-text="{{ 'range_slider_inline_text_max_delivery_time_hours' | i18n:loc.ale:textObject }}"></div> </td> <td class="content"> <div class="ff-cell-fix cell-space-small"> <span class="size-34x34 icon-bg-black icon-34x34-tribe question-mark" tooltip="" tooltip-content="{{ 'checkbox_tribe_tooltip' | i18n:loc.ale:textObject }}"></span> <label class="size-34x34 btn-orange" ng-class="{ true: 'icon-26x26-checkbox-checked', false: 'icon-26x26-checkbox' }[tabData.market.filter.tribe]" for="market-filter-tribe"> <input id="market-filter-tribe" type="checkbox" ng-model="tabData.market.filter.tribe"> </label> </div> </td> </tr> </tbody> </table> <a href="#" class="size-34x34 btn-border btn-orange btn-trading-execute" ng-click="refreshMarketResults();" ng-class="{ 'btn-grey': tabData.market.filter.wanted_resource == tabData.market.filter.offered_resource && tabData.market.filter.wanted_resource != 'any' }">{{ 'btn_refresh_results' | i18n:loc.ale:textObject }}</a> </div> <div ng-if="tabData.market.list.records.length"> <h5 class="twx-section">{{ 'section_offers' | i18n:loc.ale:textObject }}</h5> <div pagination="tabData.market.pagination"></div> <table class="tbl-border-light tbl-outer tbl-striped"> <colgroup> <col width="15%"> <col width="15%"> <col width="5%"> <col width="*"> <col width="5%"> <col width="200px"> <col width="250px"> <col width="103px"> </colgroup> <thead> <tr> <th class="cell-order" ng-click="setOrder('requested_resource_amount');"> {{ 'you_give' | i18n:loc.ale:textObject }} <span ng-show="tabData.market.order.field == 'requested_resource_amount'"> <span class="sort-icon" ng-class="{ true: 'icon-20x20-sort-asc', false: 'icon-20x20-sort-desc' }[tabData.market.order.direction == orderTypeProvider.ASC]"></span> </span> </th> <th class="cell-order" ng-click="setOrder('offered_resource_amount');"> {{ 'you_get' | i18n:loc.ale:textObject }} <span ng-show="tabData.market.order.field == 'offered_resource_amount'"> <span class="sort-icon" ng-class="{ true: 'icon-20x20-sort-asc', false: 'icon-20x20-sort-desc' }[tabData.market.order.direction == orderTypeProvider.ASC]"></span> </span> </th> <th class="cell-order" ng-click="setOrder('offered_amount');"> {{ 'table_market_list_head_amount' | i18n:loc.ale:textObject }} <span ng-show="tabData.market.order.field == 'offered_amount'"> <span class="sort-icon" ng-class="{ true: 'icon-20x20-sort-asc', false: 'icon-20x20-sort-desc' }[tabData.market.order.direction == orderTypeProvider.ASC]"></span> </span> </th> <th class="cell-order" ng-click="setOrder('actual_delivery_time');"> {{ 'table_market_list_head_delivery_time' | i18n:loc.ale:textObject }} <span ng-show="tabData.market.order.field == 'actual_delivery_time'"> <span class="sort-icon" ng-class="{ true: 'icon-20x20-sort-asc', false: 'icon-20x20-sort-desc' }[tabData.market.order.direction == orderTypeProvider.ASC]"></span> </span> </th> <th class="cell-order" ng-click="setOrder('tribe_tag');"> {{ 'table_market_list_head_tribe' | i18n:loc.ale:textObject }} <span ng-show="tabData.market.order.field == 'tribe_tag'"> <span class="sort-icon" ng-class="{ true: 'icon-20x20-sort-asc', false: 'icon-20x20-sort-desc' }[tabData.market.order.direction == orderTypeProvider.ASC]"></span> </span> </th> <th class="cell-order" ng-click="setOrder('character_name');"> {{ 'table_market_list_head_player' | i18n:loc.ale:textObject }} <span ng-show="tabData.market.order.field == 'character_name'"> <span class="sort-icon" ng-class="{ true: 'icon-20x20-sort-asc', false: 'icon-20x20-sort-desc' }[tabData.market.order.direction == orderTypeProvider.ASC]"></span> </span> </th> <th class="cell-order" ng-click="setOrder('village_name');"> {{ 'table_offer_list_head_village_name' | i18n:loc.ale:textObject }} <span ng-show="tabData.market.order.field == 'village_name'"> <span class="sort-icon" ng-class="{ true: 'icon-20x20-sort-asc', false: 'icon-20x20-sort-desc' }[tabData.market.order.direction == orderTypeProvider.ASC]"></span> </span> </th> <th>{{ 'table_market_list_head_quantity' | i18n:loc.ale:textObject }}</th> </tr> </thead> <tbody> <tr ng-repeat="offer in tabData.market.list.records"> <td class="cell-space-left cell-center"> <div class="ff-cell-fix cell-space-small"> <span class="size-34x34 icon-bg-black icon-34x34-resource-{{ offer.requested_resource }} question-mark" tooltip="" tooltip-content="{{ offer.requested_resource | i18n:loc.ale:'resource_names' }}"></span> {{ offer.requested_resource_amount | number }} </div> </td> <td class="cell-space-left cell-center"> <div class="ff-cell-fix cell-space-small"> <span class="size-34x34 icon-bg-black icon-34x34-resource-{{ offer.offered_resource }} question-mark" tooltip="" tooltip-content="{{ offer.offered_resource | i18n:loc.ale:'resource_names' }}"></span> {{ offer.offered_resource_amount | number }} </div> </td> <td class="content cell-center"> {{ offer.offer_amount | number }} </td> <td class="content cell-center"> {{ offer.actual_delivery_time | readableSecondsFilter }} </td> <td class="content cell-center"> <span ng-if="offer.tribe_id" class="tribe" ng-click="openTribeProfile(offer.tribe_id)" tooltip="" tooltip-content="{{ 'open_tribe_profile' | i18n:loc.ale:textObject:offer.tribe_name }}">[{{ offer.tribe_tag }}]</span> <span ng-if="!offer.tribe_id">-</span> </td> <td class="content cell-center"> <span class="character" ng-click="openCharacterProfile(offer.character_id)" tooltip="" tooltip-content="{{ 'open_character_profile' | i18n:loc.ale:textObject }}">{{ offer.character_name }}</span> </td> <td class="content cell-center"> <div class="village"> <div class="name" ng-click="openVillageInfo(offer.village_id)" tooltip="" tooltip-content="{{ 'village_info' | i18n:loc.ale:textObject:offer.village_name }}">{{ offer.village_name }}</div> <div class="coordinates" ng-click="jumpToVillage(offer.x, offer.y)" tooltip="" tooltip-content="{{ 'jump_to_village' | i18n:loc.ale:textObject }}">({{ offer.x }} | {{ offer.y }})</div> </div> </td> <td> <div> <input remove-zero="" ng-focus="onFocus(acceptableOffers[offer.offer_id], 'inputValue')" type="text" ng-model="acceptableOffers[offer.offer_id].inputValue" class="input-accept-offer-amount" ng-blur="changeAcceptOfferAmount(offer);"> <span ng-if="acceptableOffers[offer.offer_id].maxOfferAmount === 0" class="size-34x34 icon-26x26-check-positive btn-grey icon-inactive" tooltip="" tooltip-content="{{ (acceptableOffers[offer.offer_id].reason === 'merchants' ? 'btn_tooltip_cannot_accept_offer_merchants' : 'btn_tooltip_cannot_accept_offer') | i18n:loc.ale:textObject }}"></span> <span ng-if="acceptableOffers[offer.offer_id].maxOfferAmount !== 0" class="size-34x34 icon-26x26-check-positive btn-orange" tooltip="" tooltip-content="{{ 'btn_tooltip_accept_offer' | i18n:loc.ale:textObject }}" ng-click="acceptOffer(offer, acceptableOffers[offer.offer_id].inputValue)"></span> </div> </td> </tr> </tbody> </table> <div pagination="tabData.market.pagination"></div> </div> </div>  <div researches="" building="building"></div> <div class="margin-bottom"></div> </div> </div> </div> </div>