<div class="win-content" ng-controller="BuildingFortressController" ng-init="textObject = 'building_fortress'"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/building_snippet_header.html' -->
<header class="win-head"> <h2>{{ building.name | i18n:loc.ale:'building_names' }} <span ng-if="building.level !== 0" class="small"> ({{ 'level' | i18n:loc.ale:'building_status':building.level }}<span ng-show="building.upgradingLevels"> + {{ building.upgradingLevels }}</span>) </span> <span ng-if="building.level === 0" class="small"> <span>({{ 'level_0' | i18n:loc.ale:'building_status' }})</span> </span> </h2> <ul class="list-btn"> <li> <a href="#" class="size-34x34 btn-red icon-26x26-close" ng-click="closeWindow()"></a> </li> </ul> </header>
<!-- ngInclude END: 'templates/building_snippet_header.html' -->
</div> <div class="win-main" scrollbar=""> <div class="box-paper"> <div class="scroll-wrap"> <div class="win-info"> <h3> {{ 'building_purpose' | i18n:loc.ale:'generic_building_screen' }} </h3> <p> {{ 'info' | i18n:loc.ale:textObject }} </p> </div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/building_snippet_not_researched.html' -->
<div ng-if="building.level === 0" class="snippet-not-researched" ng-controller="BuildingNotResearchedController" ng-init="textObject = 'building_status'"> <div class="box-outer"> <table> <colgroup> <col width="165px"> <col width="*"> </colgroup> <tbody> <tr> <td> <div class="box-border-shadow"> <div class="box-border-dark"> <div class="size-152x152 btn-orange icon-152x152-attention"></div> </div> </div> </td> <td class="cell-top"> <table class="tbl-border-light"> <thead> <tr> <th ng-if="!building.researched">{{ 'not_researched_title' | i18n:loc.ale:textObject }}</th> <th ng-if="building.researched">{{ 'not_built_title' | i18n:loc.ale:textObject }}</th> </tr> </thead> <tbody> <tr> <td class="message"> <span ng-if="!building.researched">{{ 'not_researched_body' | i18n:loc.ale:textObject }}</span> <span ng-if="building.researched">{{ 'not_built_body' | i18n:loc.ale:textObject }}</span> </td> </tr> </tbody> </table> <a href="#" class="btn-border btn-orange" ng-click="openHeadquarter()">{{ 'open_hq' | i18n:loc.ale:textObject }}</a> </td> </tr> </tbody> </table> </div> </div>
<!-- ngInclude END: 'templates/building_snippet_not_researched.html' -->
</div> </div> </div> </div> </div>