<div ng-show="!building.researched || !building.level"> <div class="win-main win-main-not-researched" scrollbar=""> <div class="box-paper"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/building_snippet_not_researched.html' -->
<div ng-if="building.level === 0" class="snippet-not-researched" ng-controller="BuildingNotResearchedController" ng-init="textObject = 'building_status'"> <div class="box-outer"> <table> <colgroup> <col width="165px"> <col width="*"> </colgroup> <tbody> <tr> <td> <div class="box-border-shadow"> <div class="box-border-dark"> <div class="size-152x152 btn-orange icon-152x152-attention"></div> </div> </div> </td> <td class="cell-top"> <table class="tbl-border-light"> <thead> <tr> <th ng-if="!building.researched">{{ 'not_researched_title' | i18n:loc.ale:textObject }}</th> <th ng-if="building.researched">{{ 'not_built_title' | i18n:loc.ale:textObject }}</th> </tr> </thead> <tbody> <tr> <td class="message"> <span ng-if="!building.researched">{{ 'not_researched_body' | i18n:loc.ale:textObject }}</span> <span ng-if="building.researched">{{ 'not_built_body' | i18n:loc.ale:textObject }}</span> </td> </tr> </tbody> </table> <a href="#" class="btn-border btn-orange" ng-click="openHeadquarter()">{{ 'open_hq' | i18n:loc.ale:textObject }}</a> </td> </tr> </tbody> </table> </div> </div>
<!-- ngInclude END: 'templates/building_snippet_not_researched.html' -->
</div> </div> </div> </div>