<div class="validate-mail" ng-controller="ValidateMailController"> <div class="btn-orange size-44x44 icon-44x44-email-confirmation" ng-click="openValidationModal()" tooltip="" tooltip-content="{{'tooltip' | i18n:loc.ale:'validate_mail'}}"></div> </div>