<div class="validate-mail interface-hotkeys"> <div class="btn-orange size-44x44" ng-click="injector.get('hotkeys').toggleCheatSheet()" tooltip="" tooltip-content="{{'tooltip' | i18n:loc.ale:'interface_hotkeys'}}"> <span class="hotkey">?</span> </div> </div>