<div id="landing-notification" ng-controller="LandingNotificationController" ng-class="{ true : 'visible' }[visible]" ng-click="hide(notificationId)"> <div class="message-wrapper"> <div class="message-cell"> <span class="message">{{message}}</span> </div> </div> <div class="error"></div> </div>