<div class="win-content reward-full-modal" ng-init="textObject = 'modal_multiply_item'">
    <header class="win-head">
        <h3>{{ 'title' | i18n:loc.ale:textObject }}</h3>
        <ul class="list-btn sprite">
            <li> <a href="#" class="btn-red icon-26x26-close" ng-click="closeWindow()"></a> </li>
        </ul>
    </header>
    <div class="win-main" scrollbar="">
        <div class="box-paper">
            <div class="scroll-wrap unit-operate-slider">
                <div class="unit-box">
                    <div class="unit-border box-slider">
                        <div range-slider="" min="1" max="maxAmount || item.amount" enabled="true" value="amount" inline-text="{{ resourceName }}" show-max-button="showMaxButton" range-slider-name="{{ resourceName }}"></div>
                    </div>
                    <div class="unit-border box-input"> <input remove-zero="" type="text" class="input-border" ng-model="amount" bind-event="{ keyup: 'calcDonation()' }"> </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="win-foot sprite-fill">
        <ul class="list-btn list-center">
            <li> <a href="#" class="btn-red btn-border btn-premium" ng-click="closeWindow()"> {{ 'close' | i18n:loc.ale:textObject }} </a> </li>
            <li> <a href="#" class="btn-orange btn-border" ng-click="finish()">{{ 'shop_finish_amount' | i18n:loc.ale:textObject }}</a> </li>
        </ul>
    </footer>
</div>