<div class="win-content modal-show-hotkey" ng-init="textObject = 'modal_show_hotkeys'">
    <header class="win-head">
        <h3 class="ng-binding">{{ 'title' | i18n:loc.ale:textObject }}</h3>
        <ul class="list-btn sprite">
            <li> <a href="#" class="btn-red icon-26x26-close" ng-click="closeWindow()"></a> </li>
        </ul>
    </header>
    <div class="win-main" scrollbar="">
        <div class="box-paper">
            <div class="scroll-wrap">
                <table class="tbl-outer tbl-border-light tbl-striped">
                    <thead>
                        <th width="100">{{ 'hotkey' | i18n:loc.ale:textObject }}</th>
                        <th>{{ 'desc' | i18n:loc.ale:textObject }}</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="hotkey in hotkeys | filter:{ description: '!$$undefined$$' }">
                            <td class="text-right">
                                <div ng-repeat="key in hotkey.format() track by $index" class="hotkey">{{ key }}</div>
                            </td>
                            <td> {{ hotkey.description | i18n:loc.ale:textObject }} </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <div class="hotkey">1 - 9</div>
                            </td>
                            <td> {{ 'army_preset' | i18n:loc.ale:textObject }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="win-foot">
        <ul class="list-btn list-center">
            <li> <a href="#" class="btn-orange btn-border" ng-click="closeWindow()">{{ 'close' | i18n:loc.ale:textObject }}</a> </li>
        </ul>
    </footer>
</div>