<div class="win-content" ng-init="textObject = 'modal_color_palette'"> <header class="win-head"> <h3>{{ 'title' | i18n:loc.ale:textObject }}</h3> <ul class="list-btn sprite"> <li> <a href="#" class="btn-red icon-26x26-close" ng-click="closeWindow()"></a> </li> </ul> </header> <div class="win-main" scrollbar=""> <div class="box-paper"> <div class="scroll-wrap"> <div class="text-black" ng-style="{margin: '4px'}">{{ 'text' | i18n:loc.ale:textObject }}</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/directives/rich_text_editor_menus/rich_text_editor_menu_color.html' -->
<table class="colors-table"> <tbody> <tr ng-repeat="colorPalette in ::colorPalettes"> <td ng-repeat="color in ::colorPalette" ng-click="finishAction($event, color)"> <div class="color" ng-class="{'active': selectedColor == color}" ng-style="{ 'background-color' : '#' + color }"> </div> </td> </tr> </tbody> </table>
<!-- ngInclude END: 'templates/directives/rich_text_editor_menus/rich_text_editor_menu_color.html' -->
</div> </div> </div> </div> <footer class="win-foot"> <ul class="list-btn list-center"> <li> <a href="#" class="btn-border btn-orange" ng-click="submit()">{{ 'set' | i18n:loc.ale:textObject }}</a> <a href="#" ng-if="!hideReset" class="btn-border btn-orange" ng-class="{'btn-grey': !hasCustomColors}" ng-click="reset()">{{ 'reset' | i18n:loc.ale:textObject }}</a> </li> </ul> </footer> </div>