<div class="win-content" ng-init="textObject = 'modal_colors_options'">
    <header class="win-head">
        <h3 class="ng-binding">{{ 'title' | i18n:loc.ale:locales }}</h3>
        <ul class="list-btn sprite">
            <li> <a href="#" class="btn-red icon-26x26-close" ng-click="closeWindow()"></a> </li>
        </ul>
    </header>
    <div class="win-main" scrollbar="">
        <div class="box-paper">
            <div class="scroll-wrap">
                <table class="tbl-outer tbl-border-light tbl-striped">
                    <tbody>
                        <tr ng-repeat="color in villageColors" ng-click="openColorPickerModal(color)">
                            <td class="village"> {{ color.name | i18n:loc.ale:locales }} </td>
                            <td>
                                <div class="color-container box-border-dark" ng-style="{'background-color': color.value }"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="win-foot">
        <ul class="list-btn list-center">
            <li> <a href="#" class="btn-orange btn-border" ng-click="closeWindow()">{{ 'close' | i18n:loc.ale:locales }}</a> </li>
        </ul>
    </footer>
</div>