<div class="win-content" ng-init="textObject = 'modal_rename_village'">
    <header class="win-head">
        <h3>{{ 'title' | i18n:loc.ale:textObject }}</h3>
        <ul class="list-btn sprite">
            <li> <a href="#" class="btn-red icon-26x26-close" ng-click="closeWindow()"></a> </li>
        </ul>
    </header>
    <div class="win-main" scrollbar="">
        <div class="box-paper">
            <div class="scroll-wrap">
                <table>
                    <colgroup>
                        <col width="150">
                        <col width="*">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="content cell-top">
                                <div class="box-border-shadow">
                                    <div class="box-border-dark" style="display: inline-block">
                                        <div class="size-152x152 btn-orange icon-152x152-attention"></div>
                                    </div>
                                </div>
                            </td>
                            <td class="content cell-top"> {{ 'description' | i18n:loc.ale:textObject }}
                                <div class="unit-border box-input">
                                    <form ng-submit="submit()"> <input type="text" class="input-border input-margin-top" focus="true" ng-model="name.newName"> </form>
                                </div> * {{ 'info' | i18n:loc.ale:textObject:MIN_NAME_LENGTH:MAX_NAME_LENGTH }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="win-foot">
        <ul class="list-btn list-center">
            <li> <a href="#" class="btn-border btn-red" ng-click="closeWindow()">{{ 'cancel' | i18n:loc.ale:textObject }}</a> </li>
            <li> <a href="#" class="btn-border btn-green" ng-click="submit()" ng-class="{'btn-grey': name.newName.length < MIN_NAME_LENGTH || name.newName.length > MAX_NAME_LENGTH}">{{ 'submit' | i18n:loc.ale:textObject }}</a> </li>
        </ul>
    </footer>
</div>