<a href="#" class="btn-yellow btn-border premium-button"> <span class="icon"> <span class="icon-26x26-resource-premium"></span> <span class="premium-cost">{{ costs }}</span> </span> <span class="text ng-binding">asdasdasdasd</span> </a>