<div ng-init="textObject = 'screen_report_repay'"> <table class="tbl-border-light tbl-content tbl-striped"> <tr> <td class="content cell-top cell-text"> <div>{{ 'text' | i18n:loc.ale:textObject:(data[data.type].amount | number)}}</div> </td> </tr> </table> </div>