<div class="win-content" ng-controller="InventoryController" ng-init="textObject = 'screen_inventory'; textObjectOfficer = 'modal_officer_info'">
    <header class="win-head">
        <h2>{{ 'title' | i18n:loc.ale:textObject }}</h2>
        <ul class="list-btn">
            <li> <a href="#" class="size-34x34 btn-red icon-26x26-close" ng-click="closeWindow()"></a> </li>
        </ul>
    </header>
    <div class="win-main" scrollbar="">
        <div class="box-paper">
            <div class="scroll-wrap">
                <div class="empty" ng-if="!availableAllItems || availableAllItems === 0"> {{ 'empty' | i18n:loc.ale:textObject }} </div>
                <table class="tbl-border-dark wrapper-left" ng-if="availableAllItems > 0">
                    <tr>
                        <th> {{ 'select_item' | i18n:loc.ale:textObject }} </th>
                    </tr>
                    <tr>
                        <td class="items">
                            <div class="item" ng-repeat="item in visibleItems" ng-click="setSelected(item)">
                                <div ng-if="item.highlight" class="highlight-wrapper">
                                    <div class="highlight highlight-interface">
                                        <div class="top-left"></div>
                                        <div class="top"></div>
                                        <div class="top-right"></div>
                                        <div class="left"></div>
                                        <div class="middle"></div>
                                        <div class="right"></div>
                                        <div class="bottom-left"></div>
                                        <div class="bottom"></div>
                                        <div class="bottom-right"></div>
                                    </div>
                                </div> <span class="item-icon-big icon-120x120-{{ item.itemIcon }}"></span> <span ng-show="selectedItem.id === item.id" class="active"></span> <span class="badge icon icon-65x65-new_item_batch" ng-if="item.amount > item.last_amount"></span> <span class="amount">{{ item.amount | number }}</span> <span ng-if="item.itemAmount" class="content-amount"><span>{{ item.itemAmount | number }}</span></span>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="wrapper-right">
                    <table class="tbl-border-light">
                        <tr>
                            <th>{{ 'filter_title' | i18n:loc.ale:textObject }}</th>
                        </tr>
                        <tr>
                            <td>
                                <div select="" list="shared.viewList" selected="shared.selectedAction" drop-down="true"></div>
                            </td>
                        </tr>
                    </table>
                    <table class="tbl-border-light pagination" ng-show="pagination.count > pagination.limit">
                        <tr>
                            <td>
                                <div pagination="pagination" class="pagination-top"></div>
                            </td>
                        </tr>
                        <table>
                            <table class="tbl-border-light" ng-if="selectedItem">
                                <tr>
                                    <th> {{ selectedItem.itemName }} </th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="use-item"> <span ng-if="selectedItem.usable && canUseItem(selectedItem)" ng-click="!useItemStarted[selectedItem.id] && useItem(selectedItem)"> <a href="#" class="btn-use btn-border btn-orange" ng-class="{'btn-green': (selectedItem.type !== ITEM_TYPES.PACKAGE), 'btn-grey': useItemStarted[selectedItem.id]}"> <span ng-if="selectedItem.type !== ITEM_TYPES.PACKAGE" class="text"> {{ 'btn_use' | i18n:loc.ale:textObject }} </span> <span ng-if="selectedItem.type === ITEM_TYPES.PACKAGE" class="text"> {{ 'open_package' | i18n:loc.ale:textObject }} </span> </a> </span>
                                            <div class="special-not-useable" ng-if="!canUseItem(selectedItem)"> {{ 'item_' + selectedItem.type + '_cannot_be_used' | i18n:loc.ale:textObject }} </div> <span ng-if="!selectedItem.usable"> <span class="not-useable"> {{ 'cannot_be_used_in_inventory' | i18n:loc.ale:textObject }} </span> </span>
                                        </div>
                                        <hr>
                                        <div class="desc"> <span class="offer-small-content" ng-if="selectedItem.type === ITEM_TYPES.PACKAGE">{{ selectedItem.description }}</span> <span class="offer-small-content" ng-if="selectedItem.type === ITEM_TYPES.EFFECT">{{ 'description_' + selectedItem.content.type | i18n:loc.ale:'premium_items':(selectedItem.content.factor | readablePercentFilter):(selectedItem.content.duration | readableSecondsFilter:false:true):('scope_' + selectedItem.content.scope | i18n:loc.ale:'premium_items') }}</span> <span class="offer-small-content" ng-if="selectedItem.type !== ITEM_TYPES.PACKAGE && selectedItem.type !== ITEM_TYPES.EFFECT && selectedItem.type !== ITEM_TYPES.REWARD_COINS_PER_VILLAGE">{{ 'description_' + selectedItem.type | i18n:loc.ale:'premium_items':selectedItem.content.wood:selectedItem.content.clay:selectedItem.content.iron }}</span> <span class="offer-small-content" ng-if="selectedItem.type === ITEM_TYPES.REWARD_COINS_PER_VILLAGE">{{ 'description_reward_coins_per_village' | i18n:loc.ale:'premium_items':selectedItem.content.coins:selectedItem.villages:(selectedItem.content.coins * selectedItem.villages) }}</span>
                                            <div class="quest-hint" ng-if="selectedItem.highlight">{{ 'use_item_for_quest' | i18n:loc.ale:textObject }}</div>
                                        </div>
                                        <div ng-if="selectedItem.officer">
                                            <hr>
                                            <div class="in-duty"> <span class="float-left">{{ 'officer' | i18n:loc.ale:textObject }}</span> <span class="float-right">x{{ selectedItem.amount | number }} <span class="icon-34x34-{{ selectedItem.itemIcon }}"></span></span> </div>
                                            <hr>
                                            <div class="ability" ng-repeat="ability in abilities"> <span class="icon-34x34-officer-{{ ability.type }}"></span>
                                                <div ng-init="abilityName = getAbilityName(ability, selectedItem.officer)">{{ abilityName }}</div>
                                            </div>
                                        </div>
                                        <div ng-if="selectedItem.premiumPackage">
                                            <hr>
                                            <div class="ability" ng-repeat="(type, amount) in selectedItem.content"> <span class="size-34x34 icon-bg-black icon-34x34-{{ type }}"></span>
                                                <div>{{ 'name_' + type | i18n:loc.ale:'premium_items':(amount | number):amount }}</div>
                                            </div>
                                        </div>
                                        <div ng-if="selectedItem.resourcePackage">
                                            <hr>
                                            <div class="ability" ng-repeat="(resource, amount) in selectedItem.content"> <span class="size-34x34 icon-bg-black icon-34x34-resource-{{ resource }}"></span>
                                                <div>{{ resource | i18n:loc.ale:'resource_names':(amount | number):amount }}</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </table>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>