<div ng-hide="commands.length" ng-embedded-include="true">
    <!-- ngInclude BEG: 'templates/overview/screen_overview_no_data.html' -->
    <table class="tbl-border-light">
        <tr class="row-even">
            <td class="info"> {{ 'no_data' | i18n:loc.ale: textObject }} </td>
        </tr>
    </table>
    <!-- ngInclude END: 'templates/overview/screen_overview_no_data.html' -->
</div>
<table class="tbl-border-light tbl-striped tbl-content tbl-hover" ng-show="commands.length">
    <tbody>
        <tr ng-repeat="command in commands">
            <td ng-if="visible.origin_village_name" class="column-origin_village_name">
                <div class="village">
                    <div class="name" ng-class="{'text-bold': selectedVillageId === command.originVillage.id}" ng-click="openVillageInfo(command.originVillage.id)" tooltip="" tooltip-content="{{ 'village_info' | i18n:loc.ale:textObject:command.originVillage.name }}">{{ command.originVillage.name }}</div>
                    <div class="coordinates" ng-click="jumpToVillage(command.originVillage.x, command.originVillage.y)" tooltip="" tooltip-content="{{ 'jump_to_village' | i18n:loc.ale:textObject }}">({{ command.originVillage.x }} | {{ command.originVillage.y }})</div>
                    <div ng-show="command.originVillage.own && !(selectedVillageId === command.originVillage.id)" class="set-active-village btn-orange icon-34x34-select-village" tooltip="" tooltip-content="{{ 'set_active_village' | i18n:loc.ale:textObject }}" ng-click="setActiveVillage(command.originVillage.id)"></div>
                </div>
            </td>
            <td ng-if="visible.origin_groups" class="column-origin_groups">
                <ul class="group-icons">
                    <li class="icon-bg-black size-34x34" ng-repeat="group in command.origin_groups" tooltip="" tooltip-content="{{ group.name }}"> <canvas icon-generator="group.icon" icon-type="'group'" width="34" height="34"></canvas> </li>
                </ul>
            </td>
            <td ng-if="visible.command_type" class="column-command_type">
                <div class="command-type"> <span class="type icon-bg-black icon-34x34-{{command.command_type}}" tooltip="" tooltip-content="{{ command.command_type | i18n:loc.ale:textObject }}"></span>
                    <div ng-show="command.command_name">{{ command.command_name }}</div>
                    <div ng-hide="command.command_name">{{ command.command_type | i18n:loc.ale:textObject }}</div> <span class="edit btn-orange icon-34x34-edit" ng-click="renameCommand(command)" tooltip="" tooltip-content="{{ 'edit_command_name' | i18n:loc.ale:textObject }}"></span>
                </div>
            </td>
            <td ng-if="visible.target_character_name" class="column-target_character_name">
                <div ng-if="command.targetCharacter.id" class="character" ng-click="openCharacterProfile(command.targetCharacter.id)" tooltip="" tooltip-content="{{ 'open_character_profile' | i18n:loc.ale:textObject }}">{{ command.targetCharacter.name }}</div>
                <div ng-if="!command.targetCharacter.id">{{ command.targetCharacter.name }}</div>
            </td>
            <td ng-if="visible.target_village_name" class="column-target_village_name">
                <div class="village">
                    <div class="name" ng-class="{'text-bold': selectedVillageId === command.targetVillage.id}" ng-click="openVillageInfo(command.targetVillage.id)" tooltip="" tooltip-content="{{ 'village_info' | i18n:loc.ale:textObject:command.targetVillage.name }}">{{ command.targetVillage.name }}</div>
                    <div class="coordinates" ng-click="jumpToVillage(command.targetVillage.x, command.targetVillage.y)" tooltip="" tooltip-content="{{ 'jump_to_village' | i18n:loc.ale:textObject }}">({{ command.targetVillage.x }} | {{ command.targetVillage.y }})</div>
                    <div ng-show="command.targetVillage.own && !(selectedVillageId === command.targetVillage.id)" class="set-active-village btn-orange icon-34x34-select-village" tooltip="" tooltip-content="{{ 'set_active_village' | i18n:loc.ale:textObject }}" ng-click="setActiveVillage(command.targetVillage.id)"></div>
                </div>
            </td>
            <td ng-if="visible.target_groups" class="column-target_groups">
                <ul class="group-icons">
                    <li class="icon-bg-black size-34x34" ng-repeat="group in command.target_groups" tooltip="" tooltip-content="{{ group.name }}"> <canvas icon-generator="group.icon" icon-type="'group'" width="34" height="34"></canvas> </li>
                </ul>
            </td>
            <td ng-if="visible.time_completed" class="column-time_completed">
                <div tooltip="" tooltip-content="{{ command.model.arrivalTime() | readableDateFilter:loc.ale:GAME_TIMEZONE:GAME_TIME_OFFSET }}">{{ command.model.arrivalTime() | readableDateFilter:loc.ale:GAME_TIMEZONE:GAME_TIME_OFFSET }}</div>
            </td>
            <td ng-if="visible.command_progress" class="column-command_progress">
                <div class="command-progress"> <span class="direction icon-bg-black" ng-class="{'icon-34x34-units-outgoing': !command.model.returning, 'icon-34x34-units-return': command.model.returning}" tooltip="" tooltip-content="{{ command.model.returning ? 'returning' : 'outgoing' | i18n:loc.ale:textObject }}"></span>
                    <div class="progress-wrapper progress-big">
                        <div class="progress-bar" ng-style="{width: command.model.percent() + '%'}"></div>
                        <div class="progress-text"> <span>{{ command.model.countdown() }}</span> </div>
                    </div> <span class="cancel-attack size-34x34 icon-26x26-close" ng-class="{true : 'btn-red', false : 'btn-grey icon-inactive'}[!!commandService.isCancelable(command.model)]" tooltip="" tooltip-content="{{ commandService.isCancelable(command.model) ? 'cancel' : 'cant_cancel' | i18n:loc.ale:'movement_menu' }}" ng-click="commandService.openCancelCommandModal(command.model)"></span>
                </div>
            </td>
            <td ng-repeat="unit in ::ORDERED_UNIT_NAMES" ng-if="visible[unit]" class="column-unit">
                <div ng-class="{'none': !command[unit]}">{{ command[unit] | number }}</div>
            </td>
            <td ng-if="visible.capacity" class="column-capacity">
                <div>{{ command.capacity | number }}</div>
            </td>
            <td ng-if="visible.officers" class="column-officers">
                <ul>
                    <li ng-repeat="officer in ::ORDERED_OFFICER_NAMES" ng-show="command['officer_' + officer] != 0" class="icon-34x34-premium_officer_{{officer}}" tooltip="" tooltip-content="{{ officer | i18n:loc.ale:textObjectOfficers }}"></li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>