<div class="win-main footer has-footer-upper" scrollbar=""> <div class="box-paper"> <div class="scroll-wrap"> <div ng-init="textObject = 'screen_tribe_noble'"> <div class="text-center">{{ 'not_implemented' | i18n:loc.ale:textObject }}</div> </div> </div> </div> </div>