<div ng-if="mode === MODES.createPost || mode === MODES.editPost">  <table class="tbl-border-light tbl-content tbl-striped rte-forum"> <tr> <td class="content"> <div rich-text-editor="richTextEditor"></div> </td> </tr> </table> </div>