<div ng-if="step == 13" class="step-13"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-controller="Tutorial13Controller"> <div class="bubble-inner"> <span class="pointer pointer-top pointer-right"></span> <div class="title">{{ 'recruit_title' | i18n:loc.ale:textObject }}</div> {{ 'recruit_info' | i18n:loc.ale:textObject }} <table class="tbl-border-light"> <tr> <td> <div class="exclemation-wrapper"><span class="icon-34x34-resource-food icon-bg-black"></span></div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'free_food_slots' | i18n:loc.ale:textObject }}</div> </div> </td> </tr> </table> <a href="#" class="next-step btn-bright-green" ng-click="nextStep(14, true)">{{ 'next_step' | i18n:loc.ale:textObject }}</a> </div> </div> </div>