<div ng-if="step == 19" class="step-19"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-controller="Tutorial19Controller"> <div class="bubble-inner"> <span class="pointer pointer-top pointer-right"></span> <div class="title">{{ 'units_title' | i18n:loc.ale:textObject }}</div> {{ 'units_info' | i18n:loc.ale:textObject }} <a href="#" class="next-step btn-bright-green" ng-click="nextStep(20, true)">{{ 'next_step' | i18n:loc.ale:textObject }}</a> </div> </div> </div>