<div ng-if="step == 17" class="step-17"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-controller="Tutorial17Controller"> <div class="bubble-inner"> <span class="pointer pointer-left"></span> <div class="title">{{ 'close_window_title' | i18n:loc.ale:textObject }}</div> {{ 'close_window_info' | i18n:loc.ale:textObject }} </div> </div> </div>