<div ng-if="step == 20" class="step-20"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-controller="Tutorial20Controller"> <div class="bubble-inner"> <span class="pointer pointer-bottom pointer-step-20"></span> <div class="title">{{ 'open_map_title' | i18n:loc.ale:textObject }}</div> {{ 'open_map_info' | i18n:loc.ale:textObject }} </div> </div> </div>