<div class="tutorial" ng-controller="TutorialController" ng-init="textObject='tutorial'; resourceNames ='resource_names'">    <div class="tutorial-pointer-mask mask-01"></div> <div class="tutorial-pointer-mask mask-02"></div>  <div class="character" ng-class="{'small-char': smallRes}"></div>  <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_00.html' -->
<div ng-if="step == 0" class="step-00"> <div class="bubble" ng-class="{'small-res': smallRes}"> <div class="bubble-inner"> <span class="pointer"></span> <div class="title">{{ 'welcome_title' | i18n:loc.ale:textObject }}</div> <p>{{ 'welcome_text_1' | i18n:loc.ale:textObject }}</p> <p>{{ 'welcome_text_2' | i18n:loc.ale:textObject }}</p> <p>{{ 'welcome_text_3' | i18n:loc.ale:textObject }}</p> <a href="#" class="next-step btn-bright-green" ng-click="nextStep(1, true)">{{ 'next_step' | i18n:loc.ale:textObject }}</a> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_00.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_01.html' -->
<div ng-if="step == 1" class="step-01"> <div class="bubble" ng-controller="Tutorial01Controller"> <div class="bubble-inner"> <span class="pointer pointer-left"></span> <div class="title">{{ 'open_headquarter' | i18n:loc.ale:textObject }}</div> <table class="tbl-border-light"> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-34x34-exclemation-mark icon-bg-black"></span> </div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'click_headquarter' | i18n:loc.ale:textObject }}</div> </div> </td> <td class="check-icon"> <span class="icon-34x34-check-positive icon-inactive icon-bg-black"></span> </td> </tr> </table> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_01.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_02.html' -->
<div ng-if="step == 2" class="step-02"> <div class="bubble bubble-dynamic" ng-controller="Tutorial02Controller"> <div class="bubble-inner"> <span class="pointer pointer-left"></span> <div class="title">{{ 'open_headquarter' | i18n:loc.ale:textObject }}</div> <table class="tbl-border-light"> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-34x34-exclemation-mark icon-bg-black"></span> </div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'click_headquarter' | i18n:loc.ale:textObject }}</div> </div> </td> <td class="check-icon"> <span class="icon-34x34-check-positive icon-bg-black"></span> </td> </tr> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-34x34-exclemation-mark icon-bg-black"></span> </div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'click_open_building' | i18n:loc.ale:textObject }}</div> </div> </td> <td class="check-icon"> <span class="icon-34x34-check-positive icon-bg-black" ng-class="{'icon-inactive': !openBuildingClicked}"></span> </td> </tr> </table> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_02.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_03.html' -->
<div ng-if="step == 3" class="step-03"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-class="{'small-res': smallRes}" ng-controller="Tutorial03Controller"> <div class="bubble-inner"> <span class="pointer"></span> <div class="title">{{ 'upgrade_building' | i18n:loc.ale:textObject }}</div> <p>{{ 'resource_info_1' | i18n:loc.ale:textObject }}</p> <p>{{ 'resource_info_2' | i18n:loc.ale:textObject }}</p> <table class="tbl-border-light tbl-margin"> <colgroup> <col width="33%"> <col width="33%"> <col width="33%"> </colgroup> <tr> <td class="cell-space-left"> <div class="exclemation-wrapper"><span class="icon-34x34-resource-wood icon-bg-black"></span></div> <div class="multi-line-text-wrap"> <div class="multi-line-text">{{ 'wood' | i18n:loc.ale:resourceNames }}</div> </div> </td> <td class="cell-space-left"> <div class="exclemation-wrapper"><span class="icon-34x34-resource-clay icon-bg-black"></span></div> <div class="multi-line-text-wrap"> <div class="multi-line-text">{{ 'clay' | i18n:loc.ale:resourceNames }}</div> </div> </td> <td class="cell-space-left"> <div class="exclemation-wrapper"><span class="icon-34x34-resource-iron icon-bg-black"></span></div> <div class="multi-line-text-wrap"> <div class="multi-line-text">{{ 'iron' | i18n:loc.ale:resourceNames }}</div> </div> </td> </tr> </table> <a href="#" class="next-step btn-bright-green" ng-click="nextStep(4, true)">{{ 'next_step' | i18n:loc.ale:textObject }}</a> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_03.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_04.html' -->
<div ng-if="step == 4" class="step-04"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-controller="Tutorial04Controller"> <div class="bubble-inner"> <span class="pointer pointer-top"></span> <div class="title">{{ 'title_upgrade_headquarter' | i18n:loc.ale:textObject }}</div> <table class="tbl-border-light"> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-34x34-exclemation-mark icon-bg-black"></span> </div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'click_upgrade_level_2' | i18n:loc.ale:textObject }}</div> </div> </td> <td class="check-icon"> <span class="icon-34x34-check-positive icon-bg-black icon-inactive"></span> </td> </tr> </table> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_04.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_05.html' -->
<div ng-if="step == 5" class="step-05"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-controller="Tutorial05Controller"> <div class="bubble-inner"> <span class="pointer pointer-top"></span> <div class="title">{{ 'title_upgrade_headquarter' | i18n:loc.ale:textObject }}</div> <table class="tbl-border-light"> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-34x34-exclemation-mark icon-bg-black"></span> </div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'click_upgrade_level_2' | i18n:loc.ale:textObject }}</div> </div> </td> <td class="check-icon"> <span class="icon-34x34-check-positive icon-bg-black"></span> </td> </tr> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-34x34-exclemation-mark icon-bg-black"></span> </div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'click_instant_finish' | i18n:loc.ale:textObject }}</div> </div> </td> <td class="check-icon"> <span class="icon-34x34-check-positive icon-bg-black icon-inactive"></span> </td> </tr> </table> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_05.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_06.html' -->
<div ng-if="step == 6" class="step-06"> <div class="bubble" ng-class="{'small-res': smallRes}"> <div class="bubble-inner"> <span class="pointer"></span> <div class="title">{{ 'finished_headquarter_title' | i18n:loc.ale:textObject }}</div> <p>{{ 'finished_headquarter_info_1' | i18n:loc.ale:textObject }}</p> <p>{{ 'finished_headquarter_info_2' | i18n:loc.ale:textObject }}</p> <a href="#" class="next-step btn-bright-green" ng-click="nextStep(7, true)">{{ 'next_step' | i18n:loc.ale:textObject }}</a> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_06.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_07.html' -->
<div ng-if="step == 7" class="step-07"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-controller="Tutorial07Controller"> <div class="bubble-inner"> <span class="pointer pointer-top"></span> <div class="title">{{ 'title_upgrade_barracks' | i18n:loc.ale:textObject }}</div> <table class="tbl-border-light"> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-34x34-exclemation-mark icon-bg-black"></span> </div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'click_upgrade_level_1' | i18n:loc.ale:textObject }}</div> </div> </td> <td class="check-icon"> <span class="icon-34x34-check-positive icon-bg-black icon-inactive"></span> </td> </tr> </table> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_07.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_08.html' -->
<div ng-if="step == 8" class="step-08"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-controller="Tutorial08Controller"> <div class="bubble-inner"> <span class="pointer pointer-top"></span> <div class="title">{{ 'title_upgrade_barracks' | i18n:loc.ale:textObject }}</div> <table class="tbl-border-light"> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-34x34-exclemation-mark icon-bg-black"></span> </div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'click_upgrade_level_1' | i18n:loc.ale:textObject }}</div> </div> </td> <td class="check-icon"> <span class="icon-34x34-check-positive icon-bg-black"></span> </td> </tr> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-34x34-exclemation-mark icon-bg-black"></span> </div> <div class="text">{{ 'click_instant_finish' | i18n:loc.ale:textObject }}</div> </td> <td class="check-icon"> <span class="icon-34x34-check-positive icon-bg-black icon-inactive"></span> </td> </tr> </table> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_08.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_09.html' -->
<div ng-if="step == 09" class="step-09"> <div class="bubble" ng-class="{'small-res': smallRes}"> <div class="bubble-inner"> <span class="pointer"></span> <div class="title">{{ 'finished_barracks_title' | i18n:loc.ale:textObject }}</div> {{ 'finished_barracks_info' | i18n:loc.ale:textObject }} <a href="#" class="next-step btn-bright-green" ng-click="nextStep(10, true)">{{ 'next_step' | i18n:loc.ale:textObject }}</a> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_09.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_10.html' -->
<div ng-if="step == 10" class="step-10"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-controller="Tutorial10Controller"> <div class="bubble-inner"> <span class="pointer pointer-left"></span> <div class="title">{{ 'close_window_title' | i18n:loc.ale:textObject }}</div> {{ 'close_window_info' | i18n:loc.ale:textObject }} </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_10.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_11.html' -->
<div ng-if="step == 11" class="step-11"> <div class="bubble" ng-controller="Tutorial11Controller"> <div class="bubble-inner"> <span class="pointer pointer-left"></span> <div class="title">{{ 'open_barracks' | i18n:loc.ale:textObject }}</div> <table class="tbl-border-light"> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-34x34-exclemation-mark icon-bg-black"></span> </div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'click_barracks' | i18n:loc.ale:textObject }}</div> </div> </td> <td class="check-icon"> <span class="icon-34x34-check-positive icon-bg-black" ng-class="{'icon-inactive': barracksClicked == false}"></span> </td> </tr> </table> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_11.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_12.html' -->
<div ng-if="step == 12" class="step-12"> <div class="bubble bubble-dynamic" ng-controller="Tutorial12Controller"> <div class="bubble-inner"> <span class="pointer pointer-left"></span> <div class="title">{{ 'open_barracks' | i18n:loc.ale:textObject }}</div> <table class="tbl-border-light"> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-34x34-exclemation-mark icon-bg-black"></span> </div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'click_barracks' | i18n:loc.ale:textObject }}</div> </div> </td> <td class="check-icon"> <span class="icon-34x34-check-positive icon-bg-black"></span> </td> </tr> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-34x34-exclemation-mark icon-bg-black"></span> </div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'click_open_building' | i18n:loc.ale:textObject }}</div> </div> </td> <td class="check-icon"> <span class="icon-34x34-check-positive icon-inactive icon-bg-black"></span> </td> </tr> </table> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_12.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_13.html' -->
<div ng-if="step == 13" class="step-13"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-controller="Tutorial13Controller"> <div class="bubble-inner"> <span class="pointer pointer-top pointer-right"></span> <div class="title">{{ 'recruit_title' | i18n:loc.ale:textObject }}</div> {{ 'recruit_info' | i18n:loc.ale:textObject }} <table class="tbl-border-light"> <tr> <td> <div class="exclemation-wrapper"><span class="icon-34x34-resource-food icon-bg-black"></span></div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'free_food_slots' | i18n:loc.ale:textObject }}</div> </div> </td> </tr> </table> <a href="#" class="next-step btn-bright-green" ng-click="nextStep(14, true)">{{ 'next_step' | i18n:loc.ale:textObject }}</a> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_13.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_14.html' -->
<div ng-if="step == 14" class="step-14"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-controller="Tutorial14Controller"> <div class="bubble-inner"> <span class="pointer pointer-top"></span> <div class="title">{{ 'recruit_units' | i18n:loc.ale:textObject }}</div> <table class="tbl-border-light"> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-34x34-exclemation-mark icon-bg-black"></span> </div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'choose_spearmen' | i18n:loc.ale:textObject }}</div> </div> </td> <td class="check-icon"> <span class="icon-34x34-check-positive icon-inactive icon-bg-black"></span> </td> </tr> </table> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_14.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_15.html' -->
<div ng-if="step == 15" class="step-15"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-controller="Tutorial15Controller"> <div class="bubble-inner"> <span class="pointer pointer-top"></span> <div class="title">{{ 'recruit_units' | i18n:loc.ale:textObject }}</div> <table class="tbl-border-light"> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-34x34-exclemation-mark icon-bg-black"></span> </div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'choose_spearmen' | i18n:loc.ale:textObject }}</div> </div> </td> <td class="check-icon"> <span class="icon-34x34-check-positive icon-bg-black"></span> </td> </tr> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-34x34-exclemation-mark icon-bg-black"></span> </div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'click_max_recruitable' | i18n:loc.ale:textObject }}</div> </div> </td> <td class="check-icon"> <span class="icon-34x34-check-positive icon-inactive icon-bg-black"></span> </td> </tr> </table> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_15.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_16.html' -->
<div ng-if="step == 16" class="step-16"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-controller="Tutorial16Controller"> <div class="bubble-inner"> <span class="pointer pointer-bottom"></span> <div class="title">{{ 'recruit_units' | i18n:loc.ale:textObject }}</div> <table class="tbl-border-light"> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-34x34-exclemation-mark icon-bg-black"></span> </div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'choose_spearmen' | i18n:loc.ale:textObject }}</div> </div> </td> <td class="check-icon"> <span class="icon-34x34-check-positive icon-bg-black"></span> </td> </tr> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-34x34-exclemation-mark icon-bg-black"></span> </div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'click_max_recruitable' | i18n:loc.ale:textObject }}</div> </div> </td> <td class="check-icon"> <span class="icon-34x34-check-positive icon-bg-black"></span> </td> </tr> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-34x34-exclemation-mark icon-bg-black"></span> </div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'click_start_recruit' | i18n:loc.ale:textObject }}</div> </div> </td> <td class="check-icon"> <span class="icon-34x34-check-positive icon-inactive icon-bg-black"></span> </td> </tr> </table> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_16.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_17.html' -->
<div ng-if="step == 17" class="step-17"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-controller="Tutorial17Controller"> <div class="bubble-inner"> <span class="pointer pointer-left"></span> <div class="title">{{ 'close_window_title' | i18n:loc.ale:textObject }}</div> {{ 'close_window_info' | i18n:loc.ale:textObject }} </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_17.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_18.html' -->
<div ng-if="step == 18" class="step-18"> <div class="bubble" ng-class="{'small-res': smallRes}"> <div class="bubble-inner"> <span class="pointer"></span> <div class="title">{{ 'title_units_recruited' | i18n:loc.ale:textObject }}</div> <p>{{ 'recruit_duration_info_1' | i18n:loc.ale:textObject }}</p> <p>{{ 'recruit_duration_info_2' | i18n:loc.ale:textObject }}</p> <table class="tbl-border-light"> <tr> <td> <div class="exclemation-wrapper"><span class="icon-34x34-unit-spear icon-bg-black"></span></div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'spear_info' | i18n:loc.ale:textObject }}</div> </div> </td> </tr> </table> <a href="#" class="next-step btn-bright-green" ng-click="nextStep(19, true)">{{ 'next_step' | i18n:loc.ale:textObject }}</a> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_18.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_19.html' -->
<div ng-if="step == 19" class="step-19"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-controller="Tutorial19Controller"> <div class="bubble-inner"> <span class="pointer pointer-top pointer-right"></span> <div class="title">{{ 'units_title' | i18n:loc.ale:textObject }}</div> {{ 'units_info' | i18n:loc.ale:textObject }} <a href="#" class="next-step btn-bright-green" ng-click="nextStep(20, true)">{{ 'next_step' | i18n:loc.ale:textObject }}</a> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_19.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_20.html' -->
<div ng-if="step == 20" class="step-20"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-controller="Tutorial20Controller"> <div class="bubble-inner"> <span class="pointer pointer-bottom pointer-step-20"></span> <div class="title">{{ 'open_map_title' | i18n:loc.ale:textObject }}</div> {{ 'open_map_info' | i18n:loc.ale:textObject }} </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_20.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_21.html' -->
<div ng-if="step == 21" class="step-21"> <div class="bubble" ng-class="{'small-res': smallRes}"> <div class="bubble-inner"> <span class="pointer"></span> <div class="title">{{ 'title_villages' | i18n:loc.ale:textObject }}</div> {{ 'map_info' | i18n:loc.ale:textObject }} <ul> <li><span class="indicator indicator-active"></span>{{ 'active_village' | i18n:loc.ale:textObject }}</li> <li><span class="indicator indicator-own"></span>{{ 'own_village' | i18n:loc.ale:textObject }}</li> <li><span class="indicator indicator-foreign"></span>{{ 'foreign_village' | i18n:loc.ale:textObject }}</li> <li><span class="indicator indicator-barbarian"></span>{{ 'barbarian_village' | i18n:loc.ale:textObject }}</li> </ul> <table class="tbl-border-light"> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-26x26-noob-protection size-34x34 icon-bg-black"></span> </div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'noob_protection' | i18n:loc.ale:textObject }}</div> </div> </td> </tr> </table> <div class="margin-top">{{ 'handle_barbarians' | i18n:loc.ale:textObject }}</div> <a href="#" class="next-step btn-bright-green" ng-click="nextStep(22, true)">{{ 'next_step' | i18n:loc.ale:textObject }}</a> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_21.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_22.html' -->
<div ng-if="step == 22" class="step-22"> <div class="bubble" ng-class="{'small-res': smallRes}" ng-controller="Tutorial22Controller"> <div class="bubble-inner"> <span class="pointer"></span> <div class="title">{{ 'attack_title' | i18n:loc.ale:textObject }}</div> {{ 'attack_info' | i18n:loc.ale:textObject }} </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_22.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_23.html' -->
<div ng-if="step == 23" class="step-23"> <div class="bubble" ng-class="{'small-res': smallRes}" ng-controller="Tutorial23Controller"> <div class="bubble-inner"> <span class="pointer"></span> <div class="title">{{ 'attack_title' | i18n:loc.ale:textObject }}</div> {{ 'click_military_operations' | i18n:loc.ale:textObject }} </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_23.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_24.html' -->
<div ng-if="step == 24" class="step-24"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-controller="Tutorial24Controller"> <div class="bubble-inner"> <span class="pointer pointer-bottom"></span> <div class="title">{{ 'attack_title' | i18n:loc.ale:textObject }}</div> {{ 'select_all_units' | i18n:loc.ale:textObject }} </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_24.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_25.html' -->
<div ng-if="step == 25" class="step-25"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-controller="Tutorial25Controller"> <div class="bubble-inner"> <span class="pointer pointer-bottom"></span> <div class="title">{{ 'attack_title' | i18n:loc.ale:textObject }}</div> {{ 'attack_now' | i18n:loc.ale:textObject }} </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_25.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_26.html' -->
<div ng-if="step == 26" class="step-26"> <div class="bubble" ng-class="{'small-res': smallRes}"> <div class="bubble-inner"> <span class="pointer"></span> <div class="title">{{ 'title_attack_done' | i18n:loc.ale:textObject }}</div> <p>{{ 'attack_done_1' | i18n:loc.ale:textObject }}</p> <p>{{ 'attack_done_2' | i18n:loc.ale:textObject }}</p> <a href="#" class="next-step btn-bright-green" ng-click="nextStep(27, true)">{{ 'next_step' | i18n:loc.ale:textObject }}</a> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_26.html' -->
</div> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial/tutorial_27.html' -->
<div ng-if="step == 27" class="step-27"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-class="{'small-res': smallRes}" ng-controller="Tutorial27Controller"> <div class="bubble-inner"> <span class="pointer pointer-left"></span> <div class="title">{{ 'quests_title' | i18n:loc.ale:textObject }}</div> {{ 'quests_info' | i18n:loc.ale:textObject }} <a href="#" class="next-step btn-bright-green" ng-click="finishTutorial()">{{ 'finish_tutorial' | i18n:loc.ale:textObject }}</a> </div> </div> </div>
<!-- ngInclude END: 'templates/tutorial/tutorial_27.html' -->
</div>  <a href="#" ng-hide="step == 20 && smallRes" class="skip-tutorial btn-orange btn-border" ng-click="openSkipTutorialModal()"> <div class="multi-line-wrap"> <div class="multi-line"> {{ 'skip_tutorial' | i18n:loc.ale:textObject }} </div> </div> </a> <div ng-if="languageSelectionEnabled" class="language-select-bottom-container language-select-tutorial"> <div class="locale-select resource-values"> <a tooltip="" tooltip-content="{{ languageSelection.getSelectedLocale().name }}" class="btn-orange enable-in-tutorial" href="#" ng-click="toggleLanguageSwitch()"><div class="icon-language-switch enable-in-tutorial"></div></a> <div class="interface-language-selection interface-element" ng-show="languageSelectVisible"> <div class="top-left"></div> <div class="top-right"></div> <div class="middle-top"></div> <div class="middle-bottom"></div> <div class="middle-left"></div> <div class="middle-right"></div> <div class="bottom-left"></div> <div class="bottom-right"></div> <div class="component-interface size-fill-x" select="" list="languageSelection.getLocales()" selected="languageSelection.getSelectedLocale()" select-callback="onLanguageSelect(item)" drop-down="true" action-list-top="true"></div> </div> </div> </div> <div ng-if="!initialized" class="hide-tutorial"> <div class="spinner"> <div class="inner"></div> </div> </div> </div>