<div ng-if="step == 27" class="step-27"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-class="{'small-res': smallRes}" ng-controller="Tutorial27Controller"> <div class="bubble-inner"> <span class="pointer pointer-left"></span> <div class="title">{{ 'quests_title' | i18n:loc.ale:textObject }}</div> {{ 'quests_info' | i18n:loc.ale:textObject }} <a href="#" class="next-step btn-bright-green" ng-click="finishTutorial()">{{ 'finish_tutorial' | i18n:loc.ale:textObject }}</a> </div> </div> </div>