<div ng-if="step == 4" class="step-04"> <div ng-embedded-include="true">
<!-- ngInclude BEG: 'templates/tutorial_highlight_interface.html' -->
<div class="highlight-wrapper"> <div class="highlight highlight-interface" ng-class="{ 'language-selection-enabled': languageSelectionEnabledTop }"> <div class="top-left"></div> <div class="top"></div> <div class="top-right"></div> <div class="left"></div> <div class="middle"></div> <div class="right"></div> <div class="bottom-left"></div> <div class="bottom"></div> <div class="bottom-right"></div> </div> </div>
<!-- ngInclude END: 'templates/tutorial_highlight_interface.html' -->
</div> <div class="bubble" ng-controller="Tutorial04Controller"> <div class="bubble-inner"> <span class="pointer pointer-top"></span> <div class="title">{{ 'title_upgrade_headquarter' | i18n:loc.ale:textObject }}</div> <table class="tbl-border-light"> <tr> <td> <div class="exclemation-wrapper"> <span class="icon-34x34-exclemation-mark icon-bg-black"></span> </div> <div class="multi-line-text-wrap"> <div class="multi-line-text text">{{ 'click_upgrade_level_2' | i18n:loc.ale:textObject }}</div> </div> </td> <td class="check-icon"> <span class="icon-34x34-check-positive icon-bg-black icon-inactive"></span> </td> </tr> </table> </div> </div> </div>